{% extends 'AdminBundle:Default:index.html.twig' %}
{% import 'AdminBundle:Default:notification.html.twig' as notif %}
{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js"></script>

    {{ parent() }}
{% endblock %}

        {% block nav %}
            <div class="collection emp-nav">
                <a href="{{ path('admin_homepage') }}" class="collection-item"><i class="material-icons nav-icon">reorder</i> Home</a>
                <a href="{{ path('profile_page') }}" class="collection-item"><i class="material-icons nav-icon">perm_identity</i> Profile</a>
                <!-- <a href="notif.html" class="collection-item"><i class="material-icons nav-icon">chat_bubble_outline</i> Notification <span class="new badge">2</span></a> -->

            </div>

            <div class="collection admin-nav">
                {#<a href="vl.html" class="collection-item"><i class="material-icons nav-icon">view_agenda</i> View Requests <span class="new badge">1</span></a>#}
                {% if role == 'ADMIN' %}
                    <a href="{{ path('manage_employee') }}" class="collection-item"><i class="material-icons nav-icon">list</i> Manage Employees</a>
                {% endif %}
            </div>

            <div class="collection logout-nav">
                <a href="#!" class="collection-item btn-logout"><i class="material-icons nav-icon">input</i> Log out</a>
            </div>
        {% endblock %}

        {% block body %}
            <div class="col-md-12 green center-align changepass-notif light-green darken-1 close-alert">
                <div class="timein-success"><h5>Password Changed!</h5></div>
            </div>

            {{ notif.notif_loader() }}

            <div class="page-content">
                <div class="col-md-12 light-blue darken-1 heading z-depth-1">
                    <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>
                    <div class="emp-photo">
                        <div class="profile-image center-align">
                            <span>{{ propelrr.fname|slice(0,1)|upper }}</span>
                            <!-- <img src="img/dexterloor.jpg" alt="" class="circle responsive-img z-depth-1"> -->
                        </div>
                    </div>
                    <div class="profile-title"><h3>{{ propelrr.fname }} {{ propelrr.lname }}</h3>
                        <div class="editprofile-btns">
                            <!-- <a class="waves-effect waves-light btn orange btn-edit-profile">Edit</a>
                            <a class="waves-effect waves-light btn orange btn-save-profile">Save</a>
                            <a class="waves-effect waves-light btn orange btn-cancel-profile">Cancel</a> -->
                        </div>
                    </div>


                    <div class="profile-container2">


                        <div class="empinfo-left">
                            <input value="{{ profileId }}" type="text" name="profileId" hidden>
                            <p><span class="p-lbl">Employee Number</span>:<span class="p-dta">{{empnumber}}</span></p>
                            <p><span class="p-lbl">Position</span>:<span class="p-dta">{{ posStatus }}</span> </p>
                            <p><span class="p-lbl">Department</span>:<span class="p-dta">{{deptnames}}</span></p>
                            <p><span class="p-lbl">Company Email</span>:<span class="p-dta">{{conEmail}}</span></p>
                        </div>


                        <div class="empinfo-middle">
                            <p><span class="p-lbl">Address</span>:<span class="p-dta"><input disabled value="{{ propelrr.address }}" type="text" id="addr" class="editable"><i class="material-icons edit-pdata">mode_edit</i></span></p>
                            <p><span class="p-lbl">Birthday</span>:<span class="p-dta">{{ propelrr.bday | date('M d Y')}}</span></p>
                            <p><span class="p-lbl">Telephone</span>:<span class="p-dta"><input disabled value="{{conTele}}" type="text" id="tel-p" class="editable"><i class="material-icons edit-pdata">mode_edit</i></span></p>
                            <p><span class="p-lbl">Cellphone</span>:<span class="p-dta"><input disabled value="{{conMobile}}" type="text" id="cel-p"  class="editable"><i class="material-icons edit-pdata">mode_edit</i></span></p>

                        </div>

                        <div class="empinfo-right">
                            <p><span class="p-lbl">SSS</span>:<span class="p-dta"></span></p>
                            <p><span class="p-lbl">BIR</span>:<span class="p-dta"></span> </p>
                            <p><span class="p-lbl">Philhealth</span>:<span class="p-dta"></span></p>
                        </div>


                    </div>

                </div>

            </div>
            </div>

        {% endblock %}
        {% block scripts %}
            <script type="text/javascript" src="{{asset('prols2/js/plugins/sparkline/jquery.sparkline.min.js')}}"></script>
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>

            {{ parent() }}
        {% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function(){
            var profileId = '';
            var contactid = '';
            var deptId = '';
            $('#emailedit').click(function(){
                profileId = $(this).data('eid');
                contactid=$('#email-p').val();

                $.get("{{ path('profile_email') }}" + profileId + "/" + contactid,  function(data){
                    console.log(data);
                }, "json");

            });
            $('#teledit').click(function(){
                profileId = $(this).data('tid');
                contactid=$('#tel-p').val();

                $.get("{{ path('profile_tele') }}" + profileId + "/" + contactid,  function(data){
                    console.log(data);
                }, "json");

            });

            $('#celledit').click(function(){
                profileId = $(this).data('cid');
                contactid=$('#cel-p').val();

                $.get("{{ path('profile_mobile') }}" + profileId + "/" + contactid,  function(data){
                    console.log(data);
                }, "json");

            });

            $('#addressedit').click(function(){
                profileId = $(this).data('aid');
                contactid=$('#addr').val();

                $.get("{{ path('profile_address') }}" + profileId + "/" + contactid,  function(data){
                    console.log(data);
                }, "json");

            });

            $('#bdayedit').click(function(){
                profileId = $(this).data('bid');
                contactid=$('#bday-p').val();

                $.get("{{ path('profile_bday') }}" + profileId + "/" + contactid,  function(data){
                    console.log(data);
                }, "json");

            });

            $('#deptedit').click(function(){
                profileId = $(this).data('did');
                contactid = deptId;
                $.get("{{ path('profile_dept') }}" + profileId + "/" + contactid,  function(data){
                    console.log(data);
                }, "json");

            });

            $('#dept').click(function(){
                console.log('test');
                //asdsa = $(this).attr('data-id');
                //console.log(asdsa);
            });


            // $('.update-btn').hide();
            // $('.cancel-btn').hide();
            // $('.delete-btn').hide();
            // $('.test-btn').click(function(){
            //     {% if role == 'ADMIN' %}
            //     $('.update-btn').show();
            //     $('.cancel-btn').show();
            //     $('.delete-btn').show();
            //     $('.test-btn').hide();

            //     $('#dept').attr("enabled", true);
            //     $('.collection-item').find('input').attr("disabled", false);
            //     $('.collection-item').find('.done').css({'display' : 'block'});
            //     $('.collection-item').find('.edit').css({'display' : 'none'});
            //     {% else %}
            //     $('.update-btn').show();
            //     $('.cancel-btn').show();
            //     $('.delete-btn').show();
            //     $('.test-btn').hide();
            //     $('#tel-p').attr("disabled", false);
            //     $('#cel-p').attr("disabled", false);
            //     $('#addr').attr("disabled", false);
            //     $('.collection-item').find('.done').css({'display' : 'block'});
            //     $('.collection-item').find('.edit').css({'display' : 'none'});
            //     {% endif %}
            // });
            // $('.cancel-btn').click(function(){
            //     $('.update-btn').hide();
            //     $('.cancel-btn').hide();
            //     $('.delete-btn').hide();
            //     $('.test-btn').show();
            //     $('.collection-item').find('input').attr("disabled", true);
            //     $('.collection-item').find('.done').css({'display' : 'none'});
            //     $('.collection-item').find('.edit').css({'display' : 'block'});
            // });


            $('.initialized').material_select();

        });
    </script>
{% endblock %}


