<!doctype html>
<html class="no-js" lang="">
{% block head %}
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Propelrr Log-in System| Home</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="{{asset('prols2/css/fullcalendar/fullcalendar.css')}}" media="all"/>
<link rel="stylesheet" href="{{asset('prols2/css/style.css')}}" media="all"/>



</head>
{% endblock %}
<body>
<section id="main-container">
    <header>
    </header>
    {% if checkipdata == 1 %}
        {% if timename == false %}
        <div class="col-md-12 red center-align light-red darken-1 close-alert" style="position: absolute; bottom: 0; width: 100%; z-index: 5;">
                <div class="checkip"><h5 style="color: white;">You are now working outside the office</h5></div>
        </div>
            {% endif %}
        {% endif %}
    <section id="main-wrapper">
        <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 green center-align timein-notif-container light-green darken-1 close-alert">
                <div class="timein-success"><h5>Time-in Successful!</h5></div>
            </div> 

            <div class="col-md-12 green center-align timeout-notif-container light-green darken-1 close-alert">
                <div class="timeout-success"><h5>Time-out Successful!</h5></div>
            </div>                                                                                           

            <div class="nav-right z-depth-1">
                <div class="company-logo"><img src="{{asset('prols2/img/propelrrlogo.png')}}" style="border:1px solid #e0e0e0; border-radius:50%";></div>
                <div class="rightpanel">    
                    <div class="clock"> <div class="widget-big-int plugin-clock">00:00</div>
                        <div class="widget-subtitle plugin-date">Loading...</div>
                    </div>
                    <a class="waves-effect waves-light btn-flat red btn-large btn-timeout" style="display:none;"><i class="material-icons left">query_builder</i>Time Out</a>

                    {% if timename == false %}
                    <br>
                    <div class="chip timechip">
                        Timed-in at {{currenttimein}}
                    </div>
                    {% endif %}
                    <!-- <div class="chip timed-in">
                        Timed-in
                    </div> -->
                    

                        
                </div>
                
                <div class="clr"></div>

            
                <div class="collection emp-nav">
                    <a href="{{ path('admin_homepage') }}" class="collection-item"><i class="material-icons nav-icon">reorder</i> Home</a>
                    <a href="{{ path('profile_page') }}" class="collection-item"><i class="material-icons nav-icon">perm_identity</i> Profile</a>
                    <!-- <a href="notif.html" class="collection-item"><i class="material-icons nav-icon">chat_bubble_outline</i> Notification <span class="new badge">2</span></a> -->
                    
                </div>

               <!--  <div class="collection admin-nav">
                    <a href="vl.html" class="collection-item"><i class="material-icons nav-icon">view_agenda</i> View Requests <span class="new badge">1</span></a>
                    <a href="manage-employees.html" class="collection-item"><i class="material-icons nav-icon">list</i> Manage Employees</a>
                </div> -->

                <div class="collection logout-nav">
                    <a href="#!" class="collection-item btn-logout"><i class="material-icons nav-icon">input</i> Log out</a>
                </div>
            </div>
{% block body %}
        <div class="page-content">
            <div class="col-md-12 light-blue darken-1 heading z-depth-1">
            <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>
                <h3 class="center-align"><div class="widget-subtitle plugin-date">Loading...</div></h3>
            </div>

                <div class="col-md-12 content">
                    <!-- <div class="row"> -->
                        <div class="col-md-12"> 
                            <div id="alert_holder"></div>
                            <div class="modal-trigger calendar" href="#daily-agenda">                                
                                <div id="calendar" class="modal-trigger" href="#daily-agenda"></div>                            
                            </div>
                        </div>
                    <!-- </div> -->                 
                </div>
        </div>


        <!-- Modal -->
        <div id="daily_agenda" class="modal modal-fixed-footer">
                
            <div class="modal-content">
                <h4>Daily Agenda | DD/MM/YY </h4>
                <ul class="collection agenda-list">
                        <li class="collection-item avatar">
                            <i class="material-icons circle">perm_identity</i>
                            <span class="title">Mitchelle Viray</span>
                            <p>Meeting at 3PM</p>
                        </li>

                        <li class="collection-item avatar">
                            <i class="material-icons circle">perm_identity</i>
                            <span class="title">Dexter Loor</span>
                            <p>On vacation-leave</p>
                        </li>
                </ul>
                <div class="agenda-buttons">
                    <a class="waves-effect waves-light btn orange btn-reqmeeting">Request Meeting</a>
                    <a class="waves-effect waves-light btn orange btn-reqleave">Request Leave</a>
                </div>

                <div class="form-reqmeeting">
                    <div class="input-field">
                        <input id="meeting" placeholder="Type your message here...">
                    </div>
                    <a class="waves-effect waves-light btn amber btn-submitmeeting">Sumbit</a>
                    <div class="chip required-field">
                        required field!
                    </div>
                    <div class="chip sent">
                        sent!
                    </div>

                </div>

                <div class="form-reqleave">
                    <div class="input-field">
                        <input id="start-date" type="date" placeholder="Start Date">
                        <input id="end-date" type="date" placeholder="End Date">
                        <textarea id="reason-leave" class="materialize-textarea" placeholder="Reason...."></textarea>
                    </div>
                    <a class="waves-effect waves-light btn amber btn-submitleave">Sumbit</a>
                    <div class="chip required-field">
                        required field!
                    </div>
                    <div class="chip sent">
                        sent!
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat close-modal-agenda">Close</a>
            </div>

        </div>
       
        <!-- End of Modal -->

    </div>
    </div>
 {% endblock %}
    </section>
</section>
    {% if role == 'employee' and matchedip == userip %}
        {% if timename == true %}
            {% if timeflag == 0 %}
        <div class="time-in-container" style="display:none;">
            <div class="time-in center-align">
                <div class="valign-wrapper">
                    
                    <div class="prompt" style="display:block; width:100%; float:none; clear:both;">
                        <div class="clock2"><div class="widget-big-int plugin-clock">00:00</div>
                        <div class="widget-subtitle plugin-date">Loading...</div></div>
                        {% if systime >= afternoon %}
                        <p class="confirm-timein">Good Afternoon!</p>
                        {% else %}
                        <p class="confirm-timein">Good Morning!</p>
                        {% endif %}
                        <div class="btn-block">
                            <a class="waves-effect waves-light green btn-flat btn-large btn-timein time-btn" id="time-in-button" data-id="{{ user.id }}"><i class="material-icons left icon-timein">query_builder</i>Time in</a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endif %}
    {% endif %}
        <div class="timeout-container">
            <div class="timeout center-align">
                <div class="valign-wrapper">
                    
                    <div class="prompt" style="display:block; width:100%; float:none; clear:both;">
                    <div class="clock2"><div class="widget-big-int plugin-clock">00:00</div>
                        <div class="widget-subtitle plugin-date">Loading...</div></div>
                        <p class="confirm-timeout">Are you sure you want to time-out?
                            <div id="errormessage" style="color: #f44336; display:none;"><strong>Wrong Password</strong></div>
                            <input id="confirmpw-timeout" type="password" placeholder="Enter password...">

                            <div class="btn-block">
                                <a class="waves-effect waves-light green btn-flat btn-large btn-yes time-btn" id="time-in-button" data-id="{{ user.id }}">Yes</a>
                                <a class="waves-effect waves-light red btn-flat btn-large btn-cancel">Cancel</a>

                            </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="logout-container">
        <div class="logout center-align">
            <div class="valign-wrapper">

                <div class="prompt" style="display:block; width:100%; float:none; clear:both;">
                    <p class="confirm-logout">Are you sure you want to log-out?</p>
                    <div class="btn-block">
                        <a class="waves-effect waves-light green btn-flat btn-large btn-yes-logout" href="{{ path('logout') }}">Yes</a>
                        <a class="waves-effect waves-light red btn-flat btn-large btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% if role =='employee' and matchedip != userip %}
        {% if timename == true %}
            {% if timeflag == 0 %}
        <div class="diff-ip-container">
            <div class="diff-ip center-align">
                <div class="valign-wrapper">
                    
                    <div class="prompt" style="display:block; width:100%; float:none; clear:both;">
                        
                        <p class="diff-ip-notice" style="font-weight:700">You logged in with a different IP Address!</p>
                        <p class="diff-ip-notice">Are you sure you want to time in?</p>
                        <!-- <p class="diff-ip-notice">Request Access?</p>
                        <p class="diff-ip-sent">Request Sent!</p>
                        <p class="diff-ip-reason">Enter reason:</p> -->

                        <div class="btn-block">
                            <a class="waves-effect waves-light green btn-flat btn-large btn-timein time-btn" id="time-in-button" data-id="{{ user.id }}"><i class="material-icons left icon-timein">query_builder</i>Time in</a>
                            <a class="waves-effect waves-light red btn-flat btn-large btn-ip-cancel" style="color: white;">Cancel</a>
                            <a class="waves-effect waves-light green btn-flat btn-large btn-ip-ok">OK</a>
                            <a class="waves-effect waves-light green btn-flat btn-large btn-ip-send">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endif %}
    {% endif %}
<footer></footer>
{% block scripts %}
<script src="{{asset('prols2/js/jquery.min.js')}}"></script>    
<script src="{{asset('prols2/js/html5.js')}}"></script>
<script src="{{asset('prols2/js/modernizr-2.8.3.min.js')}}"></script>
<script src="{{asset('prols2/js/materialize.js')}}"></script>
<script src="{{asset('prols2/js/script.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins/moment.min.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins/fullcalendar/fullcalendar.min.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins/bootstrap/bootstrap.min.js')}}"></script>  

<script type="text/javascript" src="{{asset('prols2/js/plugins.js')}}"></script> 
<script type="text/javascript" src="{{asset('prols2/js/customscript.js')}}"></script>
{% endblock %}
{% block customjs %}
{% endblock %}
<script>
{% if timename == true %}
$('.btn-timeout').hide();
{% else %}
$('.btn-timeout').show();
{% endif %}

$.post( "{{ path('check_timein') }}", {}, function(data) {

}).always(function(data) {
    console.log(data)
    var res = parseInt(data);
    if(res == 1) {
        console.log('ok')
        $('.time-in-container').hide();
        $('.btn-timeout').show();
    }else{
        $('.time-in-container').show();
        $('.btn-timeout').hide();
    }
});
var pass = ''
$('.time-btn').click(function(e){
            e.preventDefault();
            var id = $('#time-in-button').data('id'), timename = $('#time-in-button').data('time');
            pass = $('#confirmpw-timeout').val();
            if(pass == ''){
                pass = 'null';
            }
                $.get("{{ path('admin_time_in_no_params') }}" + id + '/' + pass ,  function(data){
                    console.log(data);
                        if(data == 1){
                           $('.time-in-container').css({'display' : 'none'});
                            $('.time-in').css({'display' : 'none'});
                            $('.timein-notif-container').css({'top':'0px'});
                            $('.timed-in').css({'display' : 'block'});
                            $('.btn-timeout').show();
                            $('.diff-ip-container').hide();
                            setTimeout(function(){
                                $('.timein-notif-container').css({'top' : '-55px'});
                            }, 2000);
                        } else if(data == 2){
                            $('.timeout-container').css({'display' : 'none'});
                            $('.timeout').css({'display' : 'none'});
                            $('.timeout-notif-container').css({'top':'0px'});
                            $('.timed-in').css({'display' : 'none'});
                            $('.timed-out').css({'display' : 'block'});
                            $('.btn-timeout').css({'display' : 'none'});
                            $('.timechip').hide();
                            setTimeout(function(){
                                $('.timeout-notif-container').css({'top' : '-55px'});
                            }, 2000);
                        } else if(data.error == true && pass == 'null'){
                            $('#confirmpw-timeout').closest('.timeout').find('input[type=password]').css({'border-bottom-color' : '#f44336'});
                            $('#errormessage').hide();
                        } else if(data.error == true){
                            $('#confirmpw-timeout').closest('.timeout').find('input[type=password]').css({'border-bottom-color' : '#f44336'});
                            $('#errormessage').show();
                        }
                        // else if(data== 0){
                        //     $('.time-in-container').css({'display' : 'none'});
                        //     $('.diff-ip-container').show();
                        //    // $('#mb-wrongip').addClass('open');
                        //     // $('#mb-timein').modal().hide();
                        //     $('#mb-wrongip').modal('show');
                        // }
                }, "json");



       });
$('.btn-ip-cancel').click(function(e){
    e.preventDefault();
    $('.diff-ip-container').hide();
});
$('.btn-ip-yes').click(function(e){
    e.preventDefault();
    $('.diff-ip-reason').show();
});

// $('.btn-send-mail').click(function(e){
//             e.preventDefault();
//             var value = $("#comment").val();
//             if(value == ''){
//                 $('#mb-nomessage').modal('show');
//             }else{
//                 $.get("{{ path('request_email_no_params') }}" + value,  function(data){
//                     if(data==0){
//                             $('.alert-message-timein').show();
//                             $('.alert-message-timein').css({'top' : '0px'});
//                             $('.alert-message-timein').html('<center>There was an error!</center>');

//                     }
//                     else if(data ==1){
//                             $('.alert-message-timein').show();
//                             $('.alert-message-timein').css({'top' : '0px'});
//                             $('.alert-message-timein').html('<center>Message Successfully Sent</center>');
            
//                     }
//                     console.log(data);
//                 });
//                 $('#rejectreason').removeClass('in').modal('hide'); 

//             }
//         });

</script>
</body>
</html>
