{% import 'AdminBundle:Default:notification.html.twig' as notif %}
{% import 'AdminBundle:Templates:left-sidebar.html.twig' as sidenav %}
{% set userbdaynames = userbdaynames|default([]) %}
<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{% block title %}<title>Propelrr Log-in System| Home</title>{% endblock %}
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{{ asset('prols2/css/select2.min.css') }}" rel="stylesheet" />
<link href="{{ asset('prols2/css/pikaday.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{asset('prols2/css/fullcalendar/fullcalendar.css')}}" media="all"/>
<link rel="stylesheet" href="{{asset('prols2/css/style.css')}}" media="all"/>
<link rel="stylesheet" href="{{asset('prols2/css/_mon.css')}}" media="all"/>
<link rel="stylesheet" href="{{ asset('prols2/css/font-awesome/css/font-awesome.min.css') }}" media="all"/>
</head>

<body>
{{ notif.notif_loader() }}
{{ notif.request_leave_notif }}
{{ notif.request_meeting_notif }}
{{ notif.time_in_time_out_notif }}
<section id="main-container">
    <section id="main-wrapper">
        <div class="container-fluid">
            <div class="row">

            <div class="nav-right z-depth-1">
                <div class="company-logo"><img src="{{asset('prols2/img/propelrrlogo.png')}}" style="border:1px solid #e0e0e0; border-radius:50%";></div>
                <div class="rightpanel">
                    <div class="clock"> <div class="widget-big-int plugin-clock">00:00</div>
                        <div class="widget-subtitle plugin-date">Loading...</div>
                    </div>
                    <a class="waves-effect waves-light btn-flat red btn-large btn-timeout" style="display:none;"><i class="material-icons left">query_builder</i>Time Out</a>
                    <br>
                    <div class="chip timechip" style="display: none">
                        Timed-in at {{currenttimein}}
                    </div>
                </div>
                <div class="clr"></div>
            {% block nav %}
                    {% if role == 'ADMIN' %}
                        {{ sidenav.admin_navbar(requestcount) }}
                    {% else %}
                        {{ sidenav.emp_navbar() }}
                    {% endif %}
            {% endblock %}
            </div>

{% block body %}
        <div class="page-content">
            <div class="col-md-12 light-blue darken-1 heading z-depth-1">
                <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>
                <h3 class="center-align"><div class="widget-subtitle plugin-date">Loading...</div></h3>
            </div>
            <div class="col-md-12 content">
                <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <div id="alert_holder"></div>
                        <div class="calendar modal-trigger" href="#daily_agenda">
                            <div id="calendar"></div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>

        <!-----------------------DAILY AGENDA MODAL -------------------------->
        <div id="daily_agenda" class="modal modal-fixed-footer">

            <div class="modal-content">
                <h4>Daily Agenda</h4>
                {#<ul class="collection agenda-list">#}
                        {#<li class="collection-item avatar">#}
                            {#<i class="material-icons circle">perm_identity</i>#}
                            {#<span class="title">Mitchelle Viray</span>#}
                            {#<p>Meeting at 3PM</p>#}
                        {#</li>#}

                        {#<li class="collection-item avatar">#}
                            {#<i class="material-icons circle">perm_identity</i>#}
                            {#<span class="title">Dexter Loor</span>#}
                            {#<p>On vacation-leave</p>#}
                        {#</li>#}
                {#</ul>#}
                <div class="agenda-buttons">
                    {#<a class="waves-effect waves-light btn orange btn-reqmeeting">Request Meeting</a>#}
                    <a class="waves-effect waves-light btn orange btn-reqleave">Request Leave</a>
                </div>

                <!------------REQUEST MEETING FORM------------->
                <div class="form-reqmeeting">
                    <div class="input-field">
                        <input id="meeting" placeholder="Type your message here...">
                    </div>
                    <a class="waves-effect waves-light btn amber btn-submitmeeting">Sumbit</a>
                    <div class="chip required-field">
                        required field!
                    </div>
                    <div class="chip sent">
                        sent!
                    </div>
                </div>

                <!------------REQUEST LEAVE FORM------------->
                <div class="form-reqleave">
                    <div class="input-field" style="padding-top: 30px;">
                        <div class="row" style="margin-bottom: 25px; margin-top: 10px;">
                            <select class="col-md-6" name="leavetype" id="leavetype">
                                <option value="" disabled selected>Choose Type of Leave</option>
                                <option value="1">Sick Leave</option>
                                <option value="2">Vacation Leave</option>
                                <option value="5">Emergency Leave</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p style="margin-top: -25px; margin-bottom: -5px;">From: </p>
                                <input name="start-date" readonly placeholder="Start Date" class="start-date" id="datepicker">
                            </div>
                            <div class="col-md-6">
                                <p style="margin-top: -25px; margin-bottom: -5px;">To: </p>
                                <input name="end-date" readonly placeholder="End Date" class="end-date" id="datepicker2">
                            </div>
                            <div class="col-md-12">
                                <textarea id="reason-leave-sbt" class="materialize-textarea" placeholder="Reason...." style="text-align: justify; margin-top: -10px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn amber btn-submitleave" style="margin-top: 20px;">Sumbit</a>
                    <div class="chip required-field">
                        required field!
                    </div>
                    <div class="chip sent">
                        sent!
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-light grey custombtn btn-flat close-modal-agenda">Close</a>
            </div>
        </div>
        <!-----------------------END OF MODAL -------------------------->
    </div>
</div>
{% endblock %}
        {{  include ('AdminBundle:Default:modal.html.twig') }}
    </section>
</section>


{% block scripts %}
    <script src="{{asset('prols2/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('prols2/js/plugins/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{asset('prols2/js/html5.js')}}"></script>
    <script src="{{asset('prols2/js/modernizr-2.8.3.min.js')}}"></script>
    <script src="{{asset('prols2/js/materialize.js')}}"></script>
    <script src="{{asset('prols2/js/script.js')}}"></script>
    <script src="{{ asset('prols2/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{asset('prols2/js/plugins/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('prols2/js/plugins/fullcalendar/fullcalendar.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('prols2/js/plugins.js')}}"></script>
    <script type="text/javascript" src="{{asset('prols2/js/customscript.js')}}"></script>
    <script type="text/javascript" src="{{asset('prols2/js/pikaday.js')}}"></script>
{% endblock %}

{% block customjs %}
    <script>
        var picker = new Pikaday({field: $('#datepicker')[0] });
        var picker2 = new Pikaday({field: $('#datepicker2')[0] });
    </script>
{% endblock %}

<script type="text/javascript">

    //------------------------LEFT SIDEBAR JS-----------------------------------
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set indexPath =  path('admin_homepage') %}
    {% set profilePath = path('profile_page') %}
    {% set managePath = path('manage_employee') %}
    {% set timeLogPath = path('time_logs_page') %}
    {% set viewRequestPath = path('view_request') %}

    {% if currentPath == indexPath %}
    $('.index-page').addClass("active");
    {% elseif currentPath == profilePath %}
    $('.profile-page').addClass("active");
    {% elseif currentPath == managePath or currentPath == timeLogPath %}
    $('.manage-page').addClass("active");
    {% elseif currentPath == viewRequestPath %}
    $('.view-request-page').addClass("active");
    {% endif %}
    //-------------------------------------------------------------------------

    var isTimeout   = '{{ app.session.get('timeout')|default('') }}';
    var dayNow      = '{{ app.session.get('isSameDay')|default('') }}';

    function timeOutInit() {
        //--------------12 AM ALERT MODAL-------------------------
        var alertInt    = isTimeout == 'false' ? setTimeout(breakTime, 1000) : setTimeout(checkTimeout, 1000);
        var displayTime = 30;
        var display     = document.querySelector('#time');

        function breakTime() {
            /* Set Alert Hour in 24hr Notation */
            var alertHour = 0;
            /* Set Alert Minute */
            var alertMinute = 0;
            /* Set Alert Minute */
            var alertSec = 0;
            /* Set time for alert timeout */
            var theDate = new Date();

            //if 12am
            if ((Math.abs(theDate.getHours()) == alertHour && Math.abs(theDate.getMinutes()) == alertMinute
                    && Math.abs(theDate.getSeconds()) == alertSec)) {
                this.focus();
                clearTimeout(alertInt);
                alert('Good Morning!');
                $('.forgot-timeout-modal').show();
                startTimer(displayTime, display);
            //if 1am onwards
            } else if(dayNow == 'false') {
                $('.forgot-timeout-modal').show();
                startTimer(displayTime, display);
            //else run loop
            } else {
                alertInt = setTimeout(breakTime, 50);
            }
        }

        function checkTimeout() {
            if(isTimeout == 'false') {
                $('.forgot-timeout-modal').show();
                startTimer(displayTime, display);
            }
            console.log('isTimeout? '+isTimeout);
        }

        function checkIf_AutoTimeOut() {
            var isAutoTimeOut = "{{ app.request.query.get('timeout_qry') }}";
            var timeOutDate = "{{ app.request.query.get('timeout_date') }}";

            $d = new Date(timeOutDate);
            var options = {
                year: "numeric", month: "short",
                day: "numeric", hour: "2-digit", minute: "2-digit"
            };
            $d = $d.toLocaleTimeString("en-us", options);
            if(isAutoTimeOut == 'true') {
                $('.auto-timeout-notice').show();
                $('.auto-timeout-time-message').html($d);
                $('.time-in-container').hide();
                toggleTimeWidget('hide');
            }
        }

        $('.forgot-timeout-btn').click(function () {
            $('.forgot-timeout-modal').hide();
            timer = 0;
            checker = true;
            isTimeout = '{{ app.session.get('timeout', 'true') }}'
        });

        //----------------BUTTON-TIMER--------------------
        var checker = false;
        var timer, seconds, timerInt = null;

        function startTimer(duration, display) {
            timer = duration, seconds;
            timerInt = setInterval(function () {
                //minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                //minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.innerHTML = "(<b style='font-size: 18px'>" + (seconds - 1) + "</b>)";

                if (--timer < 0) timer = 0;

                if (seconds == 0 && checker == false) {
                    checker = true;

                    display.textContent = '';
                    $('.forgot-timeout-modal').hide();
                    manage_time_newday('timeout');
                }
                console.log('timer')
            }, 1000);
        }

        function manage_time_newday(type) {
            var url = '{{ path('admin_manage_working_time_new_day', {type: 'timeout'}) }}';
            if(type == 'working') {
                url = '{{ path('admin_manage_working_time_new_day', {type: 'working'}) }}';
            }

            $.getJSON( url,
                    function( data ) {
                        if(type == 'working') toggleTimeWidget('show');
                        else  toggleTimeWidget('hide');
                    })
                    .fail( function() {
                        $('.modal-fail-ajax-container').show();
                    });
        }

        $('.btn-keep-working').bind('click', function() {
            manage_time_newday('working');
        });

        $('.btn-timeout-newday').bind('click', function() {
            clearInterval(timerInt);

            $('#time-out-button').attr('data-forgot', '1');

            $('.timeout-cancel').bind('click', function() {
                clearInterval(timerInt);
                display.innerHTML = '(<b  style="font-size: 18px">'+displayTime+'</b>)';
                $('.forgot-timeout-modal').show();
                startTimer(displayTime, display);
            });
        });
        $('.btn-forgot-timeout-show-timein').bind('click', function() {
            $('.auto-timeout-notice').hide();
            toggleTimeInModal('show');
        });
        checkIf_AutoTimeOut();
    }
    window.onload = function () {
        timeOutInit();
    };
</script>

<script>
    function toggleTimeWidget(act) {
        if(act == 'show') {
            $('.timed-in').show();
            $('.btn-timeout').show();
            $('.timechip').show();
        } else {
            $('.timed-in').hide();
            $('.btn-timeout').hide();
            $('.timechip').hide();
        }
    }

    function toggleTimeInModal(act) {
        if(act == 'show') {
            $('.time-in-container').show();
            $('.btn-timeout').hide();
        }
    }

    initWidget = function() {
        if((dayNow == '' || dayNow == 'true') && '{{ isTimeoutAlready }}' != 'true') {
            toggleTimeWidget('show');

        } else if(dayNow == '' && isTimeout == '') {

            toggleTimeInModal('show');
        }

        if('{{ isTimeoutAlready }}' == 'true'){
            toggleTimeWidget('hide');
        }
    }
    initWidget();

    $('select').material_select();
    $('.caret').hide();
    {#$.post( "{{ path('check_timein') }}", {}, function(data) {#}

    {#}).always(function(data) {#}
        {#console.log(data)#}
        {#var res = parseInt(data);#}
        {#if(res == 1) {#}
            {#console.log('ok')#}
            {#$('.time-in-container').hide();#}
            {#$('.btn-timeout').show();#}
            {#$('.timechip').show();#}
        {#}else{#}
            {#$('.time-in-container').show();#}
            {#$('.btn-timeout').hide();#}
        {#}#}
    {#});#}

var pass = ''

$('#time-in-button').click(function(){
    var message = $('#diffip-input-reason').val(), error = false,
    user_ip =  $('#time-in-button').data('ip'),
    is_message = undefined, action = $(this).data('action'), pass;
    if(user_ip == 0){
        message = message.replace(/(?:\r\n|\r|\n)/g, '<br>')
        if(message == ''){
            $('#diffip-input-reason').css({'border-color': '#f44336'});
            error = true;
        }
        is_message = true;
        if(error){
            return false;
        }
    }
    $('#time-in-button').hide();
    $('.loader-notif').show();
    $('.loader-notif').css({'top' : '0px'});
    $('.forgot-timeout-modal').hide();
    var timetoday = "{{ timetoday }}";
    $.post("{{ path('time_in') }}", {is_message : is_message, message : message }, function(data){
        console.log(data);
        toggleTimeWidget('show');
        $('.time-in-container').css({'display' : 'none'});
        $('.timein-notif-container').css({'top':'0px'});
        $('.timed-in').css({'display' : 'block'});
        $('.btn-timeout').show();
        $('.diff-ip-container').hide();
        $('.timechip').html("Timed-in at " + timetoday);
        showBirthday();
        setTimeout(function(){
            $('.timein-notif-container').css({'top' : '-55px'});
        }, 5000);
    }).always(function(data){
        console.log(data);
        $('.loader-notif').hide();
        $('.loader-notif').css({'top' : '-55px'});
    });
});

$('#time-out-button').click(function(){
    var pass = $('#confirmpw-timeout').val();
    var isFromForgot = parseInt($(this).data('forgot') || 0);

    //check if password is empty
    if(pass == ''){
        $('#confirmpw-timeout').closest('.timeout').find('input[type=password]').css({'border-bottom-color' : '#f44336'});
        return;
    }

    $('.loader-notif').show();
    $('.loader-notif').css({'top' : '0px'});
    $('#time-out-button').hide();
    $('.timeout-cancel').hide();
    $.post("{{ path('time_out') }}" + pass, function(data){
        toggleTimeWidget('hide');
            //validate password
        if(data == true) {
            $('#time-out-button').show();
            $('.timeout-cancel').show();
            $('#confirmpw-timeout').closest('.timeout').find('input[type=password]').css({'border-bottom-color': '#f44336'});
            $('#errormessage').show();
            return;
        }

        //time out success
        $('.timeout-container').css({'display' : 'none'});
        $('.timeout').css({'display' : 'none'});
        $('.timeout-notif-container').css({'top':'0px'});
        //                            $('.timed-in').css({'display' : 'none'});
        $('.timed-out').css({'display' : 'block'});
        $('.btn-timeout').css({'display' : 'none'});
        $('.timechip').hide();

        setTimeout(function(){
            $('.timeout-notif-container').css({'top' : '-55px'});
        }, 5000);

        if(isFromForgot) window.location = '/logout';

    }).always(function(data){
        console.log(data);
        $('.loader-notif').hide();
        $('.loader-notif').css({'top' : '-55px'});
    }).fail(function(data){
        console.log(data);
        $('.time-in-container').hide();
        $('.timeout-container').hide();
        $('.modal-logout-notify-container').show();
        //                      $('.modal-session-content').show();
    });

});

$('.btn-submitmeeting').click(function(){
   var reqmeetmessage =  $('#meeting').val();
    if(reqmeetmessage == ''){
        $('#meeting').css({'border-color' : 'red'});
        setTimeout(function(){
            $('#meeting').css({'border-color': 'gray'})
        }, 1000);
        $('.required-field').show();
        return;
    }
    $('.loader-notif').show();
    $('.loader-notif').css({'top' : '0px'});
    $('.btn-submitmeeting').hide();
    $.post("{{ path('request_meeting') }}", {reqmeetmessage:reqmeetmessage}, function(data){
       console.log(data);
        $('#meeting').val('');
        $('.required-field').hide();
        $('#daily_agenda').closeModal();
        $('.request-meeting-notif').css({'top':'0px'});
        setTimeout(function(){
            $('.request-meeting-notif').css({'top' : '-55px'});
        }, 5000);
    }).always(function(data){
        console.log(data);
        $('.loader-notif').hide();
        $('.loader-notif').css({'top' : '-55px'});
        $('.btn-submitmeeting').show();
    });
});

$('.btn-submitleave').click(function(){
    var typeleave = '';
    var e = document.getElementById("leavetype");

    typeleave = e.options[e.selectedIndex].value;

    var leavestartdate  = $('.start-date').val();
    var leaveenddate    = $('.end-date').val();
    var reasonleave = $('#reason-leave-sbt').val();
    if(leavestartdate == '' || leaveenddate == '' || reasonleave == ''){
        if(typeleave == ''){
            $('.select-dropdown').css({'border-color' : 'red'});
            setTimeout(function(){
                $('.select-dropdown').css({'border-color': 'gray'})
            }, 1000);
        }
        if(leavestartdate == ''){
            $('.start-date').css({'border-color': 'red'});
            setTimeout(function(){
                $('.start-date').css({'border-color': 'gray'})
            }, 1000);
        }
        if(leaveenddate == ''){
            $('.end-date').css({'border-color': 'red'});
            setTimeout(function(){
                $('.end-date').css({'border-color': 'gray'})
            }, 1000);
        }
        if(reasonleave == ''){
            $('#reason-leave-sbt').css({'border-color': 'red'});
            setTimeout(function(){
                $('#reason-leave-sbt').css({'border-color': 'gray'})
            }, 1000);
        }
        $('.sent').hide();
        $('.required-field').show();
        return;
    }
    $('.loader-notif').show();
    $('.loader-notif').css({'top' : '0px'});
    $('.btn-submitleave').hide();
    $.post("{{ path('request_leave') }}", {leavestartdate:leavestartdate, leaveenddate:leaveenddate,
        reasonleave:reasonleave, typeleave:typeleave}, function(data){
        console.log(data);
        $('.start-date').val('');
        $('.end-date').val('');
        $('#reason-leave-sbt').val('');
        $('#leavetype').val('');

        $('.required-field').hide();
//        $('.sent').show();
        $('#daily_agenda').closeModal();
        $('.request-leave-notif').css({'top':'0px'});
        setTimeout(function(){
            $('.request-leave-notif').css({'top' : '-55px'});
        }, 5000);
    }).always(function(data){
        console.log(data);
        $('.loader-notif').hide();
        $('.loader-notif').css({'top' : '-55px'});
        $('.btn-submitleave').show();
    });
});

$('.btn-ip-cancel').click(function(e){
    e.preventDefault();
    $('.diff-ip-container').hide();
});
$('.btn-ip-yes').click(function(e){
    e.preventDefault();
    $('.diff-ip-reason').show();
});

$('.modal-trigger').leanModal();

$('.calendar').click(function(){
    $('.start-date').val('');
    $('.end-date').val('');
    $('#reason-leave-sbt').val('');
    $('#leavetype').val('');
    $('.form-reqleave').hide();
});
function showBirthday() {
    var bdaynames = [];
    {% for names in userbdaynames %}
        bdaynames.push("{{ names }}");
    {% endfor %}
    console.log(bdaynames);
    if(bdaynames.length) {
        $('.modal-birthday-notify-container').show();
    }
    $('.btn-bdayclose').click( function() {
    $('.modal-birthday-notify-container').hide();
    });
}

</script>
</body>
</html>
