<div class="col-md-12 content managetime-content" style="display: none;">
        <div class="row" style="margin-left:5px;">
            <table class="bordered highlight emp-list">
                <thead>
                <tr>
                    <th data-field="id">Employee Number</th>
                    <th data-field="name">Name</th>
                    <th data-field="price">Time in</th>
                    <th data-field="price">Time out</th>
                    <th data-field="price">Date</th>
                    <th data-field="price">Total Hour</th>
                    <th data-field="price">Overtime</th>
                </tr>
                </thead>

                <tbody>
                {#{% for time in getTime %}#}
                            {#<tr>#}

                                {#<td>{{ time.Id }}</td>#}
                                {#<td>{{ time.EmpAcc.getEmpProfiles[0].getEmployeeNumber}}</td>#}
                                {#<td>{{ time.EmpAcc.getEmpProfiles[0].fname ~ ' ' ~ time.EmpAcc.getEmpProfiles[0].lname}}</td>#}
                                {#<td>{{ time.TimeIn is empty ? "" : time.TimeIn | date('h:i A')}}</td>#}
                                {#<td>{{ time.TimeOut is empty ? "" : time.TimeOut | date('h:i A')}}</td>#}
                                {#<td>{{ time.Date | date('M d Y')}}</td>#}
                                {#<td>{{ time.Manhours }}</td>#}
                                {#<td>{{ time.Overtime }}</td>#}

                            {#</tr>#}
                {#{% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>



