{% extends 'AdminBundle:Default:index.html.twig' %}
{% block title %}<title>Propelrr Log-in System| Manage</title>{% endblock %}
{% block body %}
    <section id="main-container">
        <section id="main-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-content">
                        <div class="col-md-12 light-blue darken-1 heading z-depth-1">
                            <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>
                            <div class="top-nav">
                                <h3>Employee Time Logs</h3>
                                {{ include ('AdminBundle:Default:manageemployees.html.twig') }}
                            </div>
                        </div>
                        <div class="col-md-12 content managetime-content">
                            <div class="row" style="margin-left:5px;">
                                <table class="bordered highlight emp-list">
                                    <thead>
                                    <tr>
                                        <th data-field="id">Employee Number</th>
                                        <th data-field="name">Name</th>
                                        <th data-field="price">Time in</th>
                                        <th data-field="price">Time out</th>
                                        <th data-field="price">Date</th>
                                        <th data-field="price">Total Hour</th>
                                        <th data-field="price">Overtime</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for time in getTime %}
                                    <tr>

                                    <td>{{ time.EmpAcc.getEmpProfiles[0].getEmployeeNumber}}</td>
                                    <td>{{ time.EmpAcc.getEmpProfiles[0].fname ~ ' ' ~ time.EmpAcc.getEmpProfiles[0].lname }}</td>
                                    <td>{{ time.TimeIn is empty ? "" : time.TimeIn | date('h:i A')}}</td>
                                    <td>{{ time.TimeOut is empty ? "" : time.TimeOut | date('h:i A')}}</td>
                                    <td>{{ time.Date | date('M d Y')}}</td>
                                    <td>{{ time.Manhours }}</td>
                                    <td>{{ time.Overtime }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="modal-emp" class="modal modal-fixed-footer">
                        <form form action="{{ path('add_employee') }}" method="post">
                            <div class="modal-content">
                                <h4>Employee</h4>
                                <p>Username<input name = "username" placeholder="type here..." id="empnum" type="text" class="input-field"></p>
                                <p>Password<input name = "password" placeholder="type here..." id="fname" type="password" class="input-field"></p>
                                <p>Re-type Password<input name = "repassword" placeholder="type here..." id="fname" type="password" class="input-field"></p>
                                <br>
                                <p>Employee #<input name = "empnum" placeholder="type here..." id="empnum" type="text" class="input-field"></p>
                                <p>First Name<input name = "fname" placeholder="type here..." id="fname" type="text" class="input-field"></p>
                                <p>Last Name<input name = "lname" placeholder="type here..." id="lname" type="text" class="input-field"/></p>
                                <p>Department</p>
                                <div class="select-wrapper"><span class="caret">?</span>
                                    <select name="dept" id="dept" class="initialized emp-dept">
                                        <option value="" disabled selected>Select department</option>
                                        {% for dept in getDept %}
                                            <option value="{{dept.Id}}" data-id="{{dept.Id}}" class="deptid">{{dept.DeptNames}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <p>Position</p>
                                <div class="select-wrapper"><span class="caret">?</span>
                                    <select name="pos"id="pos" class="initialized emp-positions">
                                        <option value="" disabled selected>Select position</option>
                                        {% for pos in getPos %}
                                            <option value="{{pos.Id}}">{{pos.PosNames}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <p>Employment Status</p>
                                <div class="select-wrapper"><span class="caret">?</span>
                                    <select name="status"id="status" class="initialized emp-status">
                                        <option value="" disabled selected>Select status</option>
                                        <option value="Full-time">Full-time</option>
                                        <option value="Part-time">Part-time</option>
                                        <option value="Contractual">Contractual</option>
                                        <option value="Provisionary">Provisionary</option>
                                        <option value="Home-based">Home-based</option>
                                        <option value="Intern">Intern</option>
                                    </select>
                                </div>
                                <br>
                                <p>Company Email<input name="email" placeholder="type here..." id="full_name" type="text" class="input-field"></p>
                                <p>Telephone #<input name="telnum" placeholder="type here..." id="full_name" type="text" class="input-field"></p>
                                <p>Cellphone #<input name="cellnum" placeholder="type here..." id="full_name" type="text" class="input-field"></p>
                                <p>Address<input name="address" placeholder="type here..." id="full_name" type="text" class="input-field"></p>
                                <p>Birthday<input name="bday" placeholder="type here..." id="full_name" type="date" class="input-field"></p>
                                <p>SSS<input placeholder="type here..." id="full_name" type="text" class="input-field"></p>
                                <p>BIR<input placeholder="type here..." id="full_name" type="text" class="input-field"></p>
                                <p>PhilHealth<input placeholder="type here..." id="full_name" type="text" class="input-field"></p>

                            </div>
                            <div class="modal-footer">
                                <input type=submit value="add" class="modal-action modal-close waves-effect waves-green btn-flat addemp"></input>
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                            </div>
                        </form>
                    </div>

                    <div id="modal-pos" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Position</h4>
                            <input placeholder="type position here..." id="input-position" type="text">
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat addpos">Add</a>
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                        </div>
                    </div>

                    <div id="modal-dept" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4>Department</h4>
                            <input placeholder="type department here..." id="input-department" type="text" >
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat adddept">Add</a>
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
                        </div>
                    </div>
                    <div id="exportchoice" class="modal">
                        <div class="modal-content">
                            <h4>Export</h4>

                            <p>Choose entity: </p>
                            <form action="#">
                                <div class="radiobtn" style="margin-bottom: 20px;">
                                    <input name="group1" type="radio" id="all-emp" class="export-radio-input" data-type="all" checked/>
                                    <label for="all-emp" class="lbl-info radio-lbl">All Employees</label>

                                    <input name="group1" type="radio" id="select-dept" class="export-radio-input" data-type="dept"/>
                                    <label for="select-dept" class="lbl-info radio-lbl">Select by Department</label>

                                    <input name="group1" type="radio" id="select-name" class="export-radio-input" data-type="emp"/>
                                    <label for="select-name" class="lbl-info radio-lbl">Select by Name</label>
                                </div>
                                <div class="department-option-sect" style="display: none;">
                                    <select id = "listdept" class="departmentselect" style="width: 230px;">
                                        <option value="" disabled selected>Choose your department</option>
                                        {% for dept in getDept %}
                                            <option value="{{dept.Id}}">{{dept.DeptNames}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="employee-option-sect" style="display: none;">
                                    <select id="empnames" class="input-name" style="width: 230px; margin-top: 50px;">
                                        <option value="" disabled selected>Type name here..</option>
                                        {% for user in getAllProfile %}
                                            <option value="{{ user.empAccAccId }}">{{ user.fname ~ ' ' ~ user.lname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-6">
                                        <label class="label">From:</label>
                                        <input name="start-date" readonly placeholder="Start Date" class="start-date" id="datepicker">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="label">To:</label>
                                        <input name="end-date" readonly placeholder="End Date" class="end-date" id="datepicker2">

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class=" modal-action modal-close waves-effect waves-light grey btn-flat" style="color:white;">Cancel</a>
                                    <a class="modal-action waves-effect waves-light orange btn-flat export-submit-btn" style="color:white; margin-right:5px;">Export</a>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </section>
{% endblock %}
{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('select').material_select('destroy');

            $('.departmentselect,.input-name').select2();

            var inputfield = '';
            var empId = '';
            $('.btn-cancel-input').click(function(e){
                e.preventDefault();

                $('#input-department').val('');
                $('#input-position').val('');
                $('.input-field').closest('.profile-data').find('input[type=text]').val('');
                $('.input-field').closest('.profile-data').find('input[type=text]').css({'border-bottom-color' : '#9e9e9e'})
            });
            $("#upload-photo").change(function () {
                var fileExtension = ['jpeg', 'jpg', 'png'];
            });
            $('.birth-date').pickadate({
                selectMonths: true,
                selectYears: 15
            });
            $('.addpos').click(function(){
                inputfield=$('#input-position').val();
                $.get("{{ path('add_position') }}" + inputfield,  function(data){
                    console.log(data);
                });
            });
            $('.adddept').click(function(){
                inputfield=$('#input-department').val();
                $.get("{{ path('add_department') }}" + inputfield,  function(data){
                    console.log(data);
                });
                $('#input-department').val('');
            });
            $('.empProfile').click(function(){
                empId = $(this).data('empid');
                window.location.href = '{{ path('emp_page')}}' + empId;
            });
            $('.export-submit-btn').click(function(){
                var deptid = $('#listdept').val();
                var empname = $('.input-name').val();
                var start  = new Date($('[name=start-date]').val());
                var end    = new Date($('[name=end-date]').val());
                var isDate = start == 'Invalid Date' ? 0 : 1;
                start   = start.toDateString();
                end     = end.toDateString();
                $('[name=start-date]').val('');
                $('[name=end-date]').val('');
                if ($('#select-dept:checked').length){
                    if(deptid == null){
                        $('#select2-listdept-container').css({'color' : 'red'});
                        setTimeout(function(){
                            $('#select2-listdept-container').css({'color' : 'black'});
                        }, 500);
                        return;
                    }
                }
                if ($('#select-name:checked').length){
                    if(empname == null){
                        $('#select2-empnames-container').css({'color' : 'red'});
                        setTimeout(function(){
                            $('#select2-empnames-container').css({'color' : 'black'});
                        }, 500);
                        return;
                    }
                }
                $('#exportchoice').closeModal();
                window.open("{{ path('admin_employee_report') }}?deptid=" + deptid + '&empname=' + empname + '&start='
                        + start + '&end=' + end
                        + '&isDate=' + isDate, '_blank');
            });
            var picker = new Pikaday({field: document.getElementById('datepicker')});
            var picker2 = new Pikaday({field: document.getElementById('datepicker2')});
            $('.btn-export').click(function(){
                $('.start-date').val('');
                $('.end-date').val('');
                picker.destroy();
                picker2.destroy();
                picker  = new Pikaday({field: document.getElementById('datepicker'), onSelect: function(){
                        if(picker.getDate != ''){
                            $('.end-date').val('');
                            picker2.destroy();
                            picker2 = new Pikaday({field: document.getElementById('datepicker2'), onSelect: function(){
                                picker2.setEndRange(picker2.getDate());
                                picker.setStartRange(picker.getDate());
                                picker.setEndRange(picker2.getDate());
                                }
                            });
                            picker.setStartRange(picker.getDate());
                            picker.setEndRange(picker2.getDate());
                            picker2.setStartRange(picker.getDate());
                            picker2.show();
                            picker2.setMinDate(picker.getDate());
                            picker2.setMaxDate(new Date());

                        }
                    }
                });
                picker.setMaxDate(new Date());
            });

        });
    </script>
{% endblock %}



