{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
<section id="main-container">
	<section id="main-wrapper">
		<div class="container-fluid">
		<div class="row">
		
		<div class="page-content">
		  	<div class="col-md-12 light-blue darken-1 heading z-depth-1">
		  		<div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>
				<h3 class="center-align">Notifications</h3>
			</div>

			<div class="col-md-12 content">
				<!-- <div class="row" style="margin-left:5px;"> -->
				{% for requests in getRequests %}

					{% if requests.status == 'Accepted' and requests.empAccId == id and requests.listRequestTypeId <= 2 %}


						<ul class="collection notif-list">
							<li class="collection-item avatar">
								<i class="material-icons circle leave-icon">schedule</i>
								<p>{{requests.getEmpAccRelatedByAdminId.getEmpProfiles[0].fname ~ ' ' ~
									requests.getEmpAccRelatedByAdminId.getEmpProfiles[0].lname}} accepted your requested leave.
									<br> From&nbsp: {{ requests.dateStarted | date('M d Y') }} <br> To &nbsp &nbsp &nbsp: {{ requests.dateEnded | date('M d Y') }}</p>
							</li>
						</ul>
						<hr>
						{% endif %}

					{% if requests.status == 'Accepted' and requests.empAccId == id and requests.listRequestTypeId == 3 %}
							<ul class="collection notif-list">
								<li class="collection-item avatar">
									<i class="material-icons circle req-icon">work</i>
									<p>{{requests.getEmpAccRelatedByAdminId.getEmpProfiles[0].fname ~ ' ' ~ requests.getEmpAccRelatedByAdminId.getEmpProfiles[0].lname}}
										accepted your request to work outside the office.<br>Date: {{ requests.dateStarted | date('M d Y') }} </p>

								</li>
							</ul>
						<hr>
					{% endif %}

					{% if requests.status == 'Accepted' and requests.listRequestTypeId == 4 %}
						<ul class="collection notif-list">
							<li class="collection-item avatar">
								<i class="material-icons circle req-icon">perm_identity</i>
								<p>{{requests.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~ ' ' ~ requests.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname}}
									added a meeting:<br> {{requests.request}}</p>
							</li>
						</ul>
						<hr>
						{% endif %}

				{% endfor %}	

			</div>
		</div>

	</div>
	</div>
	</section>
</section>
{% endblock %}
