{% extends 'AdminBundle:Default:index.html.twig' %}
{% block title %}<title>Propelrr Log-in System| View Requests</title>{% endblock %}
{% block body %}
    {{ notif.notif_loader() }}
        <div class="col-md-12 green center-align accept-notif-container light-green darken-1 close-alert">
        <div class="request-success"><h5>Request Accepted!</h5></div>
            </div>                 

            <div class="col-md-12 green center-align sendtoemail-notif-container light-green darken-1 close-alert">
                <div class="sendtoemail-success"><h5>Email Sent!</h5></div>
            </div>

        <div class="container-fluid">
        <div class="row">
                                                                            
        <div class="page-content">
        <div class="col-md-12 light-blue darken-1 heading z-depth-1">
        <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>
            <div class="top-nav-vl"><h3>Request List</h3><a class='dropdown-button btn amber btn-select1' href='#' data-activates='dropdown2'>Category</a>
            </div>
            <div class="top-nav"></div>
        </div>

        <div class="col-md-12 content">
                <table class="bordered highlight emp-list">
                    <thead>
                          <tr>
                              <th data-field="id">Name</th>
                              <th data-field="name">Status</th>
                              <th data-field="price">Category</th>
                              <th data-field="price">Start Date</th>
                              <th data-field="price">End Date</th>
                          </tr>
                    </thead>

                    <!--ALL REQUEST-->
                    <tbody class="allrequest">
                    {% for request in allrequest %}
                        <tr class="modal-reason all" href="#modal1" data-empid="{{ request.empAccId }}" data-reason="{{ request.request }}"
                            data-id="{{ request.id }}" data-status="{{ request.status }}" data-start="{{ request.dateStarted | date('M d Y')}}"
                            data-end="{{ request.dateEnded | date('M d Y')}}" data-name="{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~
                            ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname }}" data-type="{{ request.listRequestTypeId }}"
                            data-request="{{request.listRequestType.requestType}}">
                            <td>{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~ ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname}}</td>
                            <td>{% if request.status == 'Pending' %}<label class="lbl-pending grey">{{request.status}}</label>
                                {% elseif request.status == 'Accepted' %}<label class="lbl-pending green">{{request.status}}</label>
                                {% elseif request.status == 'Declined' %}<label class="lbl-pending red">{{request.status}}</label>
                                {% endif %}</td>
                            <td class="req-category"><strong>{{request.listRequestType.requestType|upper}}</strong></td>
                            <td>{{ request.dateStarted|date('n/d/Y')}}</td>
                            <td>{{ request.dateEnded|date('n/d/Y')}}</td>
                        </tr>

                        <div id="modal1" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Request Info</h4>
                                <p id="request-name"></p>
                                <p id="leave-date-started"></p>
                                <p style="font-size: 24px; margin-top: 10px; margin-bottom: -15px;">Reason:</p>
                                <p id='leave-reason-texts'></p>
                                <div class="rejects"><br>
                                    <input class="reject-reason" placeholder="type your reason here...">
                                    <a href="#!" class="modal-action waves-effect waves-light red btn-flat btn-sendtoemail" data-uid="{{ userid }}" style="color:white">Decline</a>
                                    {#<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat btn-reasoncancel">Cancel</a>#}
                                    <div class="chip required-field">required field!</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="modal-action modal-close waves-effect waves-light grey btn-flat btn-decline">Cancel</a>
                                <a href="#!" class="modal-action waves-effect waves-light green btn-flat btn-accept"
                                   data-lbl="{{ request.id }}" data-uid="{{ userid }}">Accept</a>
                            </div>
                        </div>

                    {% endfor %}
                    </tbody>

                    <!--VACATION LEAVE-->
                    <tbody style="display: none" class="vacationleavecontent">
                    {% for request in allrequest if request.listRequestTypeId == 2%}
                        <tr class="modal-reason vacation" href="#modal1" data-empid="{{ request.empAccId }}" data-reason="{{ request.request }}"
                            data-id="{{ request.id }}" data-status="{{ request.status }}" data-start="{{ request.dateStarted | date('M d Y')}}"
                            data-end="{{ request.dateEnded | date('M d Y')}}" data-name="{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~
                        ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname }}" data-type="{{ request.listRequestTypeId }}"
                            data-request="{{request.listRequestType.requestType}}">
                            <td>{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~ ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname}}</td>
                            <td>{% if request.status == 'Pending' %}<label class="lbl-pending grey">{{request.status}}</label>
                                {% elseif request.status == 'Accepted' %}<label class="lbl-pending green">{{request.status}}</label>
                                {% elseif request.status == 'Declined' %}<label class="lbl-pending red">{{request.status}}</label>
                                {% endif %}</td>
                            <td class="req-category"><strong>{{request.listRequestType.requestType|upper}}</strong></td>
                            <td>{{ request.dateStarted|date('n/d/Y')}}</td>
                            <td>{{ request.dateEnded|date('n/d/Y')}}</td>
                        </tr>

                        <div id="modal1" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Request Info</h4>
                                <p id="request-name"></p>
                                <p id="leave-date-started"></p>
                                <p style="font-size: 24px; margin-top: 10px; margin-bottom: -15px;">Reason:</p>
                                <p id='leave-reason-texts'></p>
                                <div class="rejects"><br>
                                    <input class="reject-reason" placeholder="type your reason here...">
                                    <a href="#!" class="modal-action waves-effect waves-light red btn-flat btn-sendtoemail" data-uid="{{ userid }}" style="color:white">Decline</a>
                                    {#<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat btn-reasoncancel">Cancel</a>#}
                                    <div class="chip required-field">required field!</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action waves-effect waves-light green btn-flat btn-accept"
                                   data-lbl="{{ request.id }}" data-uid="{{ userid }}">Accept</a>
                                <a class="modal-action modal-close waves-effect waves-light grey btn-flat btn-decline">Cancel</a>
                            </div>
                        </div>

                    {% endfor %}
                    </tbody>

                    <!--SICK LEAVE-->
                    <tbody style="display: none" class="sickleavecontent">
                    {% for request in allrequest if request.listRequestTypeId == 1%}
                        <tr class="modal-reason sick" href="#modal1" data-empid="{{ request.empAccId }}" data-reason="{{ request.request }}"
                            data-id="{{ request.id }}" data-status="{{ request.status }}" data-start="{{ request.dateStarted | date('M d Y')}}"
                            data-end="{{ request.dateEnded | date('M d Y')}}" data-name="{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~
                        ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname }}" data-type="{{ request.listRequestTypeId }}"
                            data-request="{{request.listRequestType.requestType}}">
                            <td>{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~ ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname}}</td>
                            <td>{% if request.status == 'Pending' %}<label class="lbl-pending grey">{{request.status}}</label>
                                {% elseif request.status == 'Accepted' %}<label class="lbl-pending green">{{request.status}}</label>
                                {% elseif request.status == 'Declined' %}<label class="lbl-pending red">{{request.status}}</label>
                                {% endif %}</td>
                            <td class="req-category"><strong>{{request.listRequestType.requestType|upper}}</strong></td>
                            <td>{{ request.dateStarted|date('n/d/Y')}}</td>
                            <td>{{ request.dateEnded|date('n/d/Y')}}</td>
                        </tr>

                        <div id="modal1" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Request Info</h4>
                                <p id="request-name"></p>
                                <p id="leave-date-started"></p>
                                <p style="font-size: 24px; margin-top: 10px; margin-bottom: -15px;">Reason:</p>
                                <p id='leave-reason-texts'></p>
                                <div class="rejects"><br>
                                    <input class="reject-reason" placeholder="type your reason here...">
                                    <a href="#!" class="modal-action waves-effect waves-light red btn-flat btn-sendtoemail" data-uid="{{ userid }}" style="color:white">Decline</a>
                                    {#<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat btn-reasoncancel">Cancel</a>#}
                                    <div class="chip required-field">required field!</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action waves-effect waves-light green btn-flat btn-accept"
                                   data-lbl="{{ request.id }}" data-uid="{{ userid }}">Accept</a>
                                <a class="modal-action modal-close waves-effect waves-light grey btn-flat btn-decline">Cancel</a>
                            </div>
                        </div>

                    {% endfor %}
                    </tbody>

                    <!--DIFF IP-->
                    <tbody style="display: none" class="diffipcontent">
                    {% for request in allrequest if request.listRequestTypeId == 3%}
                        <tr class="modal-reason request-diff-ip" href="#modal1" data-empid="{{ request.empAccId }}" data-reason="{{ request.request }}"
                            data-id="{{ request.id }}" data-status="{{ request.status }}" data-start="{{ request.dateStarted | date('M d Y')}}"
                            data-end="{{ request.dateEnded | date('M d Y')}}" data-name="{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~
                        ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname }}" data-type="{{ request.listRequestTypeId }}"
                            data-request="{{request.listRequestType.requestType}}">
                            <td>{{ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].fname ~ ' ' ~ request.getEmpAccRelatedByEmpAccId.getEmpProfiles[0].lname}}</td>
                            <td>{% if request.status == 'Pending' %}<label class="lbl-pending grey">{{request.status}}</label>
                                {% elseif request.status == 'Accepted' %}<label class="lbl-pending green">{{request.status}}</label>
                                {% elseif request.status == 'Declined' %}<label class="lbl-pending red">{{request.status}}</label>
                                {% endif %}</td>
                            <td class="req-category"><strong>{{request.listRequestType.requestType|upper}}</strong></td>
                            <td>{{ request.dateStarted|date('n/d/Y')}}</td>
                            <td>{{ request.dateEnded|date('n/d/Y')}}</td>
                        </tr>

                        <div id="modal1" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Request Info</h4>
                                <p id="request-name"></p>
                                <p id="leave-date-started"></p>
                                <p style="font-size: 24px; margin-top: 10px; margin-bottom: -15px;">Reason:</p>
                                <p id='leave-reason-texts'></p>
                                <div class="rejects"><br>
                                    <input class="reject-reason" placeholder="type your reason here...">
                                    <a href="#!" class="modal-action waves-effect waves-light red btn-flat btn-sendtoemail" data-uid="{{ userid }}" style="color:white">Decline</a>
                                    {#<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat btn-reasoncancel">Cancel</a>#}
                                    <div class="chip required-field">required field!</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action waves-effect waves-light green btn-flat btn-accept"
                                   data-lbl="{{ request.id }}" data-uid="{{ userid }}">Accept</a>
                                <a class="modal-action modal-close waves-effect waves-light grey btn-flat btn-decline">Cancel</a>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        </div>

        <!-- Dropdown Structure -->
            <ul id='dropdown2' class='dropdown-content dd1'>
                <li><a href="#!" class="allbtn">All</a></li>
                <li class="divider"></li>
                <li><a href="#!" class="vacleavebtn">Vacation Leave</a></li>
                <li class="divider"></li>
                <li><a href="#!" class="sickleavebtn">Sick Leave</a></li>
                <li class="divider"></li>
                <li><a href="#!" class="diffipbtn">IP Address</a></li>
            </ul>
            <!-- End of DS -->



    </div>

    </div>


{% endblock %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function(){


        $('.allbtn').click(function(){
            $('.allrequest').show();
            $('.sickleavecontent').hide();
            $('.vacationleavecontent').hide();
            $('.diffipcontent').hide();
        });
        $('.vacleavebtn').click(function(){
            $('.allrequest').hide();
            $('.sickleavecontent').hide();
            $('.vacationleavecontent').show();
            $('.diffipcontent').hide();
        });

        $('.sickleavebtn').click(function(){
            $('.allrequest').hide();
            $('.vacationleavecontent').hide();
            $('.sickleavecontent').show();
            $('.diffipcontent').hide();
        });

        $('.diffipbtn').click(function(){
            $('.diffipcontent').show();
            $('.allrequest').hide();
            $('.vacationleavecontent').hide();
            $('.sickleavecontent').hide();
        });

        var adminId, leaveId, status, empId, label, datestart, dateend, reqname, reqtype, requestname, reason, statlabel;

        $('.all').click(onClickRequest);
        $('.sick').click(onClickRequest);
        $('.vacation').click(onClickRequest);
        $('.request-diff-ip').click(onClickRequest);

        function onClickRequest(){
            status      = $(this).data('status');
            leaveId     = $(this).data('id');
            label       = $(this).find('.lbl-pending');
            statlabel   = $(this).find('.lbl-pending').html();
            datestart   = $(this).data('start');
            dateend     = $(this).data('end');
            reqname     = $(this).data('name');
            reqtype     = $(this).data('type');
            requestname = $(this).data('request');
            reason = $(this).data('reason');
            $('#request-name').html('<b>Name: </b>' + reqname);
            $('#leave-reason-texts').html(reason);
            $('#leave-date-started').html('<b>Start date: </b>' + datestart + ' - '+ '<b>End date: </b>' + dateend);
            $('#modal1').openModal();
            $('.reject').hide();
            $('.modal-footer').show();
            $('.rejects').show();
            $('.required-field').hide();
            $('.reject-reason').val('');
            if(statlabel != 'Pending'){
                $('.modal-footer').hide();
                $('.rejects').hide();
            }
        }

        var $badge = $(this).find('.reqcount');
        var count;
        $('.btn-accept').click(function(){
            adminId = $(this).data('uid');
            count = Number($badge.text());
            empId   = $('.modal-reason').data('empid');
            $('.loader-notif').show();
            $('.loader-notif').css({'top' : '0px'});
            $('.modal-footer').hide();
            $('.rejects').hide();
            $.post("{{ path('status_accept') }}" + leaveId + "/" + adminId, {reqtype:reqtype, requestname:requestname, empId:empId
            , datestart:datestart, dateend:dateend},  function(data){
                console.log(data);
                $('#modal1').closeModal();
                $('.accept-notif-container').css({'margin-top':'55px'})
                 setTimeout(function(){
                     $('.accept-notif-container').css({'margin-top' : '-55px'});
                 }, 5000);
                    }, "json").done(function(data){
                    if(data.response == 'success'){
                        $(label).html('Accepted');
                        $(statlabel).html('Accepted');
                        $(label).attr('class', 'lbl-pending green');
                        $badge.text(count - 1);
                        count = Number($badge.text());
                        $('.modal-footer').show();
                    }
            }).always(function(data){
                console.log(data);
                $('.loader-notif').hide();
                $('.loader-notif').css({'top' : '-55px'});

            });
        });

        var content = '';

        $('.btn-sendtoemail').click(function(){
        adminId = $(this).data('uid');
        content = $('.reject-reason').val();
        empId   = $('.modal-reason').data('empid');
        count = Number($badge.text());
            if(content == ''){
                $('.required-field').show();
                $('.reject-reason').css({'border-color' : 'red'});

                setTimeout(function (){
                    $('.reject-reason').css({'border-color' : 'gray'});
                }, 2000);
                return;
            }
            $('.loader-notif').show();
            $('.loader-notif').css({'top' : '0px'});
            $('.btn-sendtoemail').hide();
            $('.btn-reasoncancel').hide();
            $('.modal-footer').hide();
            $.post("{{ path('status_declined') }}", {leaveId:leaveId, adminId:adminId, content:content, empId:empId, requestname:requestname,
                datestart:datestart, dateend:dateend},  function(data){
                console.log(data);
                $('#modal1').closeModal();
                $('.required-field').hide();
                $('.sendtoemail-notif-container').css({'margin-top':'50px'})
                setTimeout(function(){
                    $('.sendtoemail-notif-container').css({'margin-top' : '-55px'});
                }, 5000);
            }, "json").always(function(data){
                console.log(data);
                $('.loader-notif').hide();
                $('.loader-notif').css({'top' : '-55px'});
            }).done(function(data){
                if(data.response == 'success'){
                    $(label).html('Declined');
                    $(statlabel).html('Declined');
                    $(label).attr('class', 'lbl-pending red');
                    $badge.text(count - 1);
                    count = Number($badge.text());
                    $('.btn-sendtoemail').show();
                    $('.btn-reasoncancel').show();
                    $('.modal-footer').show();
                }
            });
        });
    });
</script>
{% endblock %}
