{% extends "AdminBundle:base.html.twig" %}
{% block title %}
    <title>Propelrr Log-in System| Manage Events</title>
{% endblock %}

{% block css %}
    <style>
    .select2-results__option[aria-selected=true] {
        display: none;
    }
    </style>
{% endblock %}

{% block body %}
    <section id="main-container">
        <section id="main-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-content">
                        <div class="col-md-12 light-blue darken-1 heading z-depth-1">
                            <div class="responsive-nav"><a class="btn-flat"><i
                                            class="material-icons res-menu">reorder</i></a></div>
                            <div class="top-nav-vl">
                                <h3>Events List</h3>
                                <a class='dropdown-button btn orange btn-select1' href='#' data-activates='dropdown2'>Category</a>
                                <a class="btn amber btn-add  btn-select1" id="btn-add-event"
                                   style="color: white; margin-right: 5px;">Create Event</a>
                            </div>
                        </div>

                        <div class = "top-nav">
                            <!-- Dropdown Structure -->
                            <ul id='dropdown2' class='dropdown-content dd1' style = "z-index: 9999;">
                                <li><a href="#!" id="allbtn">All</a></li>
                                <li class="divider"></li>
                                {#<li><a href="#!" id="holidaybtn">Holiday</a></li>#}
                                {#<li class="divider"></li>#}
                                <li><a href="#!" id="meetingbtn">Meeting</a></li>
                                <li class="divider"></li>
                                <li><a href="#!" id="companyeventbtn">Company Event</a></li>
                                <li class="divider"></li>
                                <li><a href="#!" id="othersbtn">Other Events</a></li>
                                <li class="divider"></li>
                            </ul>
                            <!-- End of DS -->
                        </div>

                        <div class="col-md-12 content manageemployees-content" style="display: block; min-height: 700px;">
                            <div class="row" style="margin-left:5px;">
                                <table class="bordered highlight emp-list">
                                    <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Event Type</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for event in allEvents %}
                                        <tr data-id="{{ event.getId }}" class="event-tr">
                                            <td class="event-name">{{ event.getEventName }}</td>
                                            <td class="event-type" id="{{ event.listEventsType.id }}">{{ event.listEventsType.name|upper }}</td>
                                            <td class="event-from-date">{{ event.getFromDate|date('n/d/Y') }}</td>
                                            <td class="event-to-date">{{ event.getToDate|date('n/d/Y') }}</td>
                                            <td class="role">
                                                {% if (user.getId != event.getCreatedBy) %}Guest
                                                {% else %}Creator{% endif %}
                                            </td>
                                            <td class="status">
                                                {% if (user.getId != event.getCreatedBy) %}
                                                    {% for tag in event.getEventTaggedPersonss %}
                                                        {% if(user.getId == tag.empid) %}
                                                            {% if(tag.status == 2) %}
                                                                <div class="event-status pending" id = "pending">Pending</div>
                                                                {#<button class="btn grey pending" id = "pending" style = "width: 130px;">Pending</button>#}

                                                                <div class="pending-form" style="display:none;">
                                                                    <div class="event-status approved admin_accept" style="margin-right:5px; width: 45px; display:inline-block;"><i class="fa fa-check" aria-hidden="true"></i></div>
                                                                    <div class="event-status declined admin_decline" style="margin-right:5px; width: 45px; display:inline-block;"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                                </div>
                                                            {% elseif(tag.status == 3) %}
                                                                {#<button class="btn grey pending" id = "pending" style = "width: 130px;">Approved</button>#}
                                                                <div class="event-status approved">Approved</div>
                                                            {% else %}
                                                                {#<button class="btn grey pending" id = "pending" style = "width: 130px;">Declined</button>#}
                                                                <div class="event-status declined">Declined</div>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}<div class="event-status created">Created</div>{% endif %}
                                            </td>
                                            <td class="event-desc"
                                                style="display: none;">{{ event.getEventDescription|raw }}
                                            </td>
                                            <td>
                                                <a class='dropdown-button btn btn-select1' href='#' data-activates='dropdown-more' style="background-color:#26a69a;">More</a>
                                                <div>
                                                    <ul id='dropdown-more' class='dropdown-content dd1' style = "z-index: 9999; width: auto !important;">
                                                        <li><a href="#!" id="viewdetailsbtn">Details</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#!" id="viewnotesbtn">Notes</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!----------------------- CREATE/EDIT EVENT MODAL -------------------------->
    <div id="add_event_modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="create-header">Create Event</h4>
            <h4 class="edit-header">Edit Event</h4>
            <div class="event-form-cont">
                <div class="row">
                    <div class="col-md-5">
                        <label for="event_type_modal">Event Type</label>
                        <div class="select-wrapper"><span class="caret">?</span>
                            <select name="event_type" id="event_type_modal" class="browser-default event-type" onchange="onClickEventType()">
                                <option value="" disabled selected >Select Event Type</option>
                                {% for eventtype in eventTypes %}
                                    <option value="{{ eventtype.id }}">{{ eventtype.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <label for="event_name_modal">Event Name</label>
                        <input type="text" name="event-name" class="event-name" id="event_name_modal" required>
                    </div>

                    <div class="col-md-12" id="desc-row">
                        <label for="event_desc_modal">Event Description</label>
                        <textarea id="event_desc_modal" class="materialize-textarea" required autocapitalize></textarea>
                    </div>

                    <div class="meeting-request-section">
                        <div class = "col-md-12" id="guest-row">
                            <label for="tag_employees">Guests</label><br>
                            <select class="select-emp-tag" multiple="multiple" style="width: 690px;" id="tag_employees">
                                {% for acc in allacc %}
                                    <option name="select2[]" value="{{ acc.email }}" data-employee-id="{{ acc.getEmpProfiles[0].id }}"> {{ acc.getEmpProfiles[0].fname ~ ' ' ~ acc.getEmpProfiles[0].lname }}</option>
                                {% endfor %}
                            </select><br><br>
                        </div>

                        <div class="col-md-12" id="from-row">
                            <label for="from_event_date_modal">From</label><br>
                            <input type="text" name="from-event-date" readonly class="from-event-date"
                                   id="from_event_date_modal" placeholder="mm/dd/yyyy" style="width: 150px; text-align: center;">
                            &nbsp; - &nbsp;
                            <input type="text" readonly class="from_event_time" id="from_event_time"
                                   name="from_event_time"  placeholder="hh : mm AM" style="width: 150px; text-align: center;">
                        </div>
                        <div class="col-md-12" id="to-row">
                            <label for="to_event_date_modal">To</label><br>
                            <input type="text" name="to-event-date" readonly class="to-event-date"
                                   id="to_event_date_modal" placeholder="mm/dd/yyyy" style="width: 150px; text-align: center;">
                            &nbsp; - &nbsp;
                            <input type="text" readonly class="to_event_time" id="to_event_time"
                                   name="to_event_time"  placeholder="hh : mm AM" style="width: 150px; text-align: center;">
                        </div>
                    </div>

                    <div class="other-event-section">
                        <div class="col-md-12" id="from-row-holiday">
                            <label for="from_event_date_modal">From</label><br>
                            <input type="text" name="from-event-date" readonly class="from-event-date"
                                   id="from_event_date_modal_holiday" placeholder="mm/dd/yyyy">
                        </div>
                        <div class="col-md-12" id="to-row-holiday">
                            <label for="to_event_date_modal">To</label><br>
                            <input type="text" name="to-event-date" readonly class="to-event-date"
                                   id="to_event_date_modal_holiday" placeholder="mm/dd/yyyy">
                        </div>
                    </div>

                    <div class="col-md-12" id="notify-row">
                        <p class="notify-email-event">
                            <input type="checkbox" id="notify-email" value="1"/>
                            <label for="notify-email" class="black-text">
                                Notify the employees via Email?
                            </label>
                        </p>
                        <p class="notify-sms-event">
                            <input type="checkbox" id="notify-sms" value="1"/>
                            <label for="notify-sms" class="black-text">
                                Notify the employees via SMS?
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <input type="hidden" id="event_id">
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-light grey custombtn btn-flat modal-action modal-close">Close</a>
            <a class="waves-effect waves-light btn amber btn-create" style="margin-right:5px;">Create</a>
            <a class="waves-effect waves-light btn amber btn-edit" style="margin-right:5px;">Edit</a>
            <div class="chip add-error-chip" style = "font-size: 12px; color: red;">
                <i class="close material-icons">info_outline</i>
                Please Input All Fields
            </div>
        </div>
    </div>
    <!-----------------------END OF MODAL -------------------------->

    <!----------------------- VIEW EVENT MODAL -------------------------->
    <div id="view_event_modal" class="modal modal-fixed-footer">

        <div class="modal-content">
            <h4 class="agenda-date">
                View Event &nbsp;&nbsp;
                <span class="btn btn-default" style="font-size: 16px;" id="view_event_type"></span>
            </h4>
            <br>
            <div class="event-form-cont">
                <div class="row">
                    <div class="col-md-4">
                        <span class="event-lbl">Event Date</span>
                        <input type="text" name="event-date" readonly class="event-date" id="view_event_date">
                    </div>
                    <div class="col-md-8">
                        <span class="event-lbl">Event Name </span>
                        <input type="text" name="event-name" class="event-name" id="view_event_name" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="desc-cont">
                            <span id="view_event_desc"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="modal-footer">
            <a class="waves-effect waves-light btn amber btn-resend" style="margin-right:5px; float:left;">
                Resend Notification to the Employees
            </a>
            <a href="#!" class="waves-effect waves-light grey custombtn btn-flat modal-action modal-close" id="view-btn-close">Close</a>
        </div>
    </div>
    <!-----------------------END OF MODAL -------------------------->

    <!----------------------- DELETE EVENT MODAL -------------------------->
    <div id="delete_event_modal" class="modal">
        <div class="modal-content">
            <center>
                <h4 class="modal-delete-header">
                    Are you sure you want to delete this event?&nbsp;
                </h4>
                <a href="#!" class="waves-effect waves-light red custombtn btn-flat close-modal-agenda" id="delete-btn-delete">Delete</a>
                &nbsp;&nbsp;&nbsp;
                <a href="#!" class="waves-effect waves-light green custombtn btn-flat close-modal-agenda" id="delete-btn-retain"
                   onclick="$('#delete_event_modal').closeModal();">Retain</a>
                <input type = "hidden" id = "delete-event-id"/>
            </center>
        </div>
    </div>
    <!-----------------------END OF MODAL -------------------------->
{% endblock %}


{% block customjs %}
    <script type="text/javascript">
        $('.select-emp-tag').select2({
            placeholder: 'Type name here'
        });

        var meetingPersonsInvolved = $('.select-emp-tag');
    </script>
    <script type="text/javascript">
        /*--------Variables---------*/
        // Row elements
        var event_row, event_date, event_name;
        var event_id, event_type, event_desc;

        // create & edit
        var add_header = $(".create-header");
        var edit_header = $(".edit-header");
        var add_btn_modal = $(".btn-create");
        var edit_btn_modal = $(".btn-edit");
        var notify_option = $(".notify-event");
        var add_edit_event_modal = $('#add_event_modal');
        var add_edit_date = $('#event_date_modal');
        var add_edit_name = $('#event_name_modal');
        var add_edit_desc = $('#event_desc_modal');
        var add_edit_type = $('#event_type_modal');
        var add_edit_id = $('#event_id');
        var meetingPersonsInvolved = $('.select-emp-tag');
        var picker = null;
        var edit_event_modal = $('#edit_event_modal');

        // view & delete
        var view_date = $('#view_event_date');
        var view_name = $('#view_event_name');
        var view_type = $('#view_event_type');
        var view_desc = $('#view_event_desc');
        var view_modal = $('#view_event_modal');
        var resend_btn = $('.btn-resend');
        var delete_id = $("#delete-event-id");
        var delete_modal = $("#delete_event_modal");
        var delete_button = $("#delete-btn-delete");

        // add note
        var addnote_modal = $('#add_note_modal');
        var notelist_table = $('.note-list');
        var addnote_form = $('.addnote-content');
        var createnote_button = $('.btn-create-note');
        var addnote_button = $('#btn-add-note');
        var cancel_button = $('.cancel-modal-agenda');
        var close_button = $('.close-modal-agenda');

        var pending_button = $("#pending");
        var pending_form = $(".pending-form");
        pending_button.css("display", "block");
        pending_form.css("display", "none");

        $(document).on("click", "#pending", function(){
            pending_button.css("display", "none");
            pending_form.css("display", "block");
        });


        /*-----------End-----------*/

        /*----------- add note function -------------*/
        $(document).on("click", "#viewnotesbtn", function(){
            addnote_button.css("display", "block");
            notelist_table.css("display", "table");
            createnote_button.css("display", "none");
            addnote_form.css("display", "none");
            cancel_button.css("display", "none");
            close_button.css("display", "block");
            addnote_modal.openModal();
        });

        $(document).on("click", "#btn-add-note", function(){
            addnote_button.css("display", "none");
            notelist_table.css("display", "none");
            createnote_button.css("display", "block");
            cancel_button.css("display", "block");
            close_button.css("display", "none");
            addnote_form.css("display", "block");
        });

        $(document).on("click", ".cancel-modal-agenda", function(){
            addnote_button.css("display", "block");
            notelist_table.css("display", "table");
            cancel_button.css("display", "none");
            close_button.css("display", "block");
            createnote_button.css("display", "none");
            addnote_form.css("display", "none");
        });

        /*----------- view note function -------------*/
        $(document).on("click", ".note-tr", function(){

        });

        /*----------- add & edit functions -----------*/
        $(document).on("click", "#btn-add-event", function () {
            add_header.css("display", "block");
            edit_header.css("display", "none");
            add_btn_modal.css("display", "block");
            edit_btn_modal.css("display", "none");
            notify_option.css("display", "block");
//            picker = new Pikaday(
//                    {
//                        field: document.getElementById('event_date_modal'),
//                        firstDay: 1,
//                        minDate: new Date(),
//                        maxDate: new Date(2020, 12, 31),
//                        yearRange: [2000, 2020],
//                        format: 'MM/DD/YYYY'
//                    });
            add_edit_event_modal.openModal();
        });

        $(document).on("click", "#btn-close", function () {
            removeFields();
            add_edit_event_modal.closeModal();
            edit_event_modal.closeModal();
        });

        $(document).on("click", ".btn-edit", function () {
            elements = [add_edit_date, add_edit_desc, add_edit_desc, add_edit_type];
            var validate = checkFields(elements);
            if (validate == true) // true == there are errors
                return;

            event_id = add_edit_id.val();
            date = add_edit_date.val();
            name = add_edit_name.val();
            type = add_edit_type.val();
            desc = add_edit_desc.val();
            data = {
                event_date: date,
                event_name: name,
                event_desc: desc,
                event_type: type,
                event_id: event_id
            };
            callback = function(data) {
                removeFields();
                add_edit_event_modal.closeModal();
            };
            done = function(data) {
                if (data["result"]) {
                    changeInfoView(event_id, date, name, desc, type);
                    showSuccessBar(data["result"]);
                } else if (data["error"]) {
                    showErrorBar(data["error"]);
                }
            };
            always = function(data) {
                //
            };
            post(edit_btn_modal, "{{ path('edit_event') }}", data, callback, done, always);
        });

        $(document).on("click", ".btn-create", function () {
            elements = [add_edit_date, add_edit_desc, add_edit_desc, add_edit_type];
            var validate = checkFields(elements);
            if (validate == true) // true == there are errors
                return;

            date = add_edit_date.val();
            name = add_edit_name.val();
            type = add_edit_type.val();
            desc = add_edit_desc.val();

            if ($('#notify').is(":checked")) notify = 1;
            else notify = 0;

            data = {
                event_date: date,
                event_name: name,
                event_desc: desc,
                event_type: type,
                notify: notify
            };

            callback = function (data) {
                removeFields();
                add_edit_event_modal.closeModal();
            };

            done = function (data) {
                if (data["result"]) {
                    changeInfoView(event_id, date, name, desc, type);
                    showSuccessBar(data["result"]);
                    addEvent(date, name, desc, type, data["id"]);
                } else if (data["error"]) {
                    showErrorBar(data["error"]);
                }
            };

            always = function (data) {
                //
            };

            post(add_btn_modal, "{{ path('add_event') }}", data, callback, done, always);
        });

        $(document).on("click", "#editeventbtn", function () {
            event_row = $(this).closest("tr.event-tr");
            event_id = event_row.data("id");
            event_date = event_row.find("td.event-date").html();
            event_name = event_row.find("td.event-name").html();
            event_type = event_row.find("td.event-type").html();
            event_desc = event_row.find("td.event-desc").html();
            edit(event_type, event_date, event_name, event_desc, event_id);
        });

        /*$(document).on("click", ".btnEditEvent", function () {
         event_row = $(this).closest("tr.event-tr");
         event_id = event_row.data("id");
         event_date = event_row.find("td.event-date").html();
         event_name = event_row.find("td.event-name").html();
         event_type = event_row.find("td.event-type").html();
         event_desc = event_row.find("td.event-desc").html();
         edit(event_type, event_date, event_name, event_desc, event_id);
         });*/

        function edit(type, date, name, desc, id) {
            add_edit_date.val(date);
            if(type == "Holiday")
                add_edit_type.val(1);
            else add_edit_type.val(2);
            add_edit_name.val(name);
            add_edit_desc.val(desc);
            add_edit_id.val(id);
            add_header.css("display", "none");
            edit_header.css("display", "block");
            add_btn_modal.css("display", "none");
            edit_btn_modal.css("display", "block");
            notify_option.css("display", "none");
            picker = new Pikaday(
                    {
                        field: document.getElementById('event_date_modal'),
                        firstDay: 1,
                        minDate: new Date(),
                        maxDate: new Date(2020, 12, 31),
                        yearRange: [2000, 2020],
                        format: 'MM/DD/YYYY'
                    });
            edit_event_modal.openModal();
        }

        function removeFields() {
            picker.destroy();
            event_date = add_edit_date.val('');
            event_name = add_edit_name.val('');
            event_desc = add_edit_desc.val('');
            event_type = add_edit_type.val('');
        }

        function changeInfoView(event_id, date, name, desc, type) {
            event_row = $('tr.event-tr[data-id="' + event_id + '"]');
            event_date = event_row.find("td.event-date");
            event_name = event_row.find("td.event-name");
            event_type = event_row.find("td.event-type");
            event_desc = event_row.find("td.event-desc");
            event_date.html(date);
            event_name.html(name);
            event_desc.html(desc);
            if(type == 1) event_type.html("Holiday");
            else event_type.html("Regular");
        }

        /*-------------- View & Delete ---------------*/

        $(document).on("click", ".btn-resend", function () {
            date = view_date.val();
            name = view_name.val();
            type = view_type.text();
            desc = view_desc.text();

            data = {
                event_date: date,
                event_name: name,
                event_desc: desc,
                event_type: type
            };

            callback = function (data) {
                removeFields();
                view_modal.closeModal();
            };

            done = function (data) {
                if (data["result"]) {
                    showSuccessBar(data["result"]);
                } else if (data["error"]) {
                    showErrorBar(data["error"]);
                }
            };

            always = function (data) {
                //
            };

            post(resend_btn, "{{ path('notify_event') }}", data, callback, done, always);
        });

        $(document).on("click", "#viewdetailsbtn", function(){
            event_row = $(this).closest("tr.event-tr");
            event_id = event_row.data("id");
            event_date = event_row.find("td.event-date").html();
            event_name = event_row.find("td.event-name").html();
            event_type = event_row.find("td.event-type").html();
            event_desc = event_row.find("td.event-desc").html();
            view(event_type, event_date, event_name, event_desc);
        });

        /*$(document).on("click", ".btnViewEvent", function () {
         event_row = $(this).closest("tr.event-tr");
         event_id = event_row.data("id");
         event_date = event_row.find("td.event-date").html();
         event_name = event_row.find("td.event-name").html();
         event_type = event_row.find("td.event-type").html();
         event_desc = event_row.find("td.event-desc").html();
         view(event_type, event_date, event_name, event_desc);
         });*/

        $(document).on("click", "#canceleventbtn", function () {
            event_row = $(this).closest("tr.event-tr");
            event_id = event_row.data("id");
            delete_id.val(event_id);
            delete_modal.openModal();
        });

        /*$(document).on("click", ".btnDeleteEvent", function () {
         event_row = $(this).closest("tr.event-tr");
         event_id = event_row.data("id");
         delete_id.val(event_id);
         delete_modal.openModal();
         });*/

        $(document).on("click", "#delete-btn-delete", function () {
            event_id = delete_id.val();
            data = { event_id: event_id };
            callback = function (data) {
                delete_modal.closeModal();
            };
            done = function (data) {
                if (data["result"]) {
                    $('tr.event-tr[data-id="' + event_id + '"]').remove();
                    showSuccessBar(data["result"]);
                } else if (data["error"]) {
                    showErrorBar(data["error"]);
                }
            };
            always = function (data) {
                //
            };
            post(delete_button, "{{ path('delete_event') }}", data, callback, done, always);
        });

        function view(type, date, name, desc) {
            view_date.val(date);
            view_type.text(type);
            view_name.val(name);
            view_desc.text(desc);
            view_modal.openModal();
        }


        function addEvent(date, name, desc, type, id) {
            var row = document.createElement("tr");
            row.className = "event-tr";
            row.dataset.id = id;

            var td_name = document.createElement("td");
            td_name.className = "event-name";
            td_name.textContent = name;

            var td_date = document.createElement("td");
            td_date.className = "event-date";
            td_date.textContent = date;

            var td_type = document.createElement("td");
            td_type.className = "event-type";
            if(type == 1) td_type.textContent = "Holiday";
            else td_type.textContent = "Regular";

            var td_desc = document.createElement("td");
            td_desc.className = "event-desc";
            td_desc.style.display = "none";
            td_desc.textContent = desc;

            var td_view = document.createElement("td");
            td_view.style.float = "right";

            var btn_view = document.createElement("button");
            btn_view.className = "waves-effect waves-light btn green btnViewEvent";
            btn_view.textContent = "View";
            btn_view.style.marginRight = "14px";
            td_view.append(btn_view);

            var btn_edit = document.createElement("button");
            btn_edit.className = "waves-effect waves-light btn orange btnEditEvent";
            btn_edit.textContent = "Edit";
            btn_edit.style.marginRight = "14px";
            td_view.append(btn_edit);

            var btn_del = document.createElement("button");
            btn_del.className = "waves-effect waves-light btn red btnDeleteEvent";
            btn_del.style.marginRight = "10px";

            var delcontent = document.createElement("i");
            delcontent.className = "material-icons";
            delcontent.textContent = "delete";
            btn_del.append(delcontent);
            td_view.append(btn_del);

            row.append(td_name);
            row.append(td_date);
            row.append(td_type);
            row.append(td_desc);
            row.append(td_view);

            $("tbody").append(row);
        }
    </script>
{% endblock %}


