{% macro admin_navbar(requestcount) %}
    <div class="collection emp-nav">
        <a href="{{ path('admin_homepage') }}" class="collection-item index-page">
            <i class="material-icons nav-icon">reorder</i> Home</a>
        <a href="{{ path('profile_page') }}" class="collection-item profile-page">
            <i class="material-icons nav-icon">perm_identity</i> Profile</a>
        <a href="{{ path('manage_employee') }}" class="collection-item manage-page">
            <i class="material-icons nav-icon">list</i> Manage Employees</a>
        <a href="{{ path('manage_events') }}" class="collection-item manage-events-page">
            <i class="material-icons nav-icon">list</i> Manage Events</a>
        <a href="{{ path('view_request') }}" class="collection-item view-request-page">
            <i class="material-icons nav-icon">view_agenda</i> View Requests {% if requestcount != 0 %}
                <span class="new badge reqcount">
                {{ requestcount }}</span>{% endif %}</a>
        <a href="#!" class="collection-item btn-logout"><i class="material-icons nav-icon">input</i> Log out</a>
    </div>
{% endmacro %}

{% macro emp_navbar(requestcount) %}
    <div class="collection emp-nav">
        <a href="{{ path('admin_homepage') }}" class="collection-item index-page"><i class="material-icons nav-icon">reorder</i> Home</a>
        <a href="{{ path('profile_page') }}" class="collection-item profile-page"><i class="material-icons nav-icon">perm_identity</i> Profile</a>
        {% set capabilities = app.user.capabilities|split(',') %}
        {% if app.user.capabilities|length!='' %}
        <a href="{{ path('manage_employee') }}" class="collection-item manage-page">
            <i class="material-icons nav-icon">list</i> Manage Employees</a>
        <a href="{{ path('view_request') }}" class="collection-item view-request-page">
            <i class="material-icons nav-icon">view_agenda</i> View Requests {% if requestcount != 0 %}
                <span class="new badge reqcount">
                {{ requestcount }}</span></a>
        {% endif %}
        {% endif %}
        <a href="#!" class="collection-item btn-logout"><i class="material-icons nav-icon">input</i> Log out</a>

    </div>
{% endmacro %}


