{% extends 'AdminBundle::base.html.twig' %}
{% block title %}Profile{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="col-md-12 light-blue darken-1 heading z-depth-1">
            <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>

            <div class="emp-photo">
                <div class="profile-image center-align">
                    <span>{{ propelrr.fname|slice(0,1)|upper }}</span>
                </div>
            </div>
            {#<div class="top-nav"><a class="waves-effect waves-light btn modal-trigger modal-change orange" href="#modal-changepw">Change Password</a></div>#}
            <div class="top-nav"><h3>{{ propelrr.fname }} {{ propelrr.lname }}</h3>
                {#<a class="waves-effect waves-light btn modal-trigger modal-change orange changepwmodal" href="#modal-changepw">Change Password</a>#}
                </div>
        </div>
        <div class="col-md-12 content" style="background-color: #e7e7e7;">

            <div class="emp-info-wrap">
                <div class="container">
                    <div class="z-depth-1 profile-container2">

                        <div class="emp-photo hidden-desktop">
                            <div class="profile-image center-align">
                                <span>{{ propelrr.fname|slice(0,1)|upper }}</span>
                            </div>
                        </div>

                        <div class="row editable-info">
                            <div class="col-lg-4 col-md-6">
                                <div class="empinfo-left">
                                    <p><span class="p-lbl"><i class="fa fa-hashtag" aria-hidden="true"></i></span><span class="p-dta"></i>{{ propelrr.employeeNumber }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-briefcase" aria-hidden="true"></i></span><span class="p-dta">{{ propelrr.getListPos().PosNames }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-users" aria-hidden="true"></i></span><span class="p-dta">{{ propelrr.getListDept().DeptNames }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="p-dta">{{ user2.email }}</span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="empinfo-middle empinfo-left">
                                    <p>
                                        <span class="p-lbl"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="p-dta">{#<input disabled value="{{ propelrr.address }}" data-add="{{ profileId }}" type="text" id="addr" class="editable"><i class="material-icons edit-pdata">mode_edit</i>#}
                                            <input type="text" id="addrinput" class="editable" style="position: absolute;"/>
                                            <span id="addr" >{{ propelrr.address }}</span><i class="material-icons edit-pdata addr-pdata">mode_edit</i>
                                        </span>
                                    </p>
                                    <p><span class="p-lbl"><i class="fa fa-calendar" aria-hidden="true"></i></span><span class="p-dta">{{ propelrr.bday | date('M d Y') }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-mobile" aria-hidden="true"></i></span><span class="p-dta">
                                            <input disabled value="{{ conMobile }}" data-cell="{{ conMobileId }}" type="text" id="cel-p" class="editable"><i class="material-icons edit-pdata">mode_edit</i></span></p>
                                    <p><span class="p-lbl"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="p-dta"><input disabled value="{{ conTele }}" data-tel="{{ conTeleId }}" type="text" id="tel-p" class="editable"><i class="material-icons edit-pdata">mode_edit</i></span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="empinfo-right">
                                    <p><span class="p-lbl">SSS</span><span class="p-dta"></span></p>
                                    <p><span class="p-lbl">BIR</span><span class="p-dta"></span></p>
                                    <p><span class="p-lbl">Philhealth</span><span class="p-dta"></span></p>
                                </div>
                            </div>
                        </div>

                        {#<div class="changepw-con"><a class="waves-effect waves-light btn modal-trigger modal-change orange" href="#modal-changepw">Change Password</a></div>#}
                    </div>

                    <table class="z-depth-1 bordered responsive-table striped highlight centered perf-table time-logs-table">
                        <thead>
                        <tr>
                            {#<th>Date</th>#}
                            {#<th>Time In</th>#}
                            {#<th>Time Out</th>#}
                            {#<th>Duration</th>#}
                            {#<th>Total Hour</th>#}
                            {#<th>Overtime</th>#}

                            <th>Date</th>
                            <th>Time In</th>
                            <th>Time Out</th>
                            <th>Time In</th>
                            <th>Time Out</th>
                            <th>Duration</th>
                            <th>Total Hour</th>
                            <th>Overtime</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for time in getAllTime %}

                            <tr  {% if( time.TimeOut is empty) %} class="active" data-timein="{{ time.TimeIn | date('h:i A') }}" {% endif %}>
                                <td>{{ time.Date | date('M d Y')}}</td>
                                <td>{{ time.TimeIn1 is empty ? "" : time.TimeIn | date('h:i A')}}</td>
                                <td>{{ time.TimeOut1 is empty ? "" : time.TimeOut | date('h:i A')}}</td>
                                <td>{{ time.TimeIn2 is empty ? "" : time.TimeIn | date('h:i A')}}</td>
                                <td>{{ time.TimeOut2 is empty ? "" : time.TimeOut | date('h:i A')}}</td>
                                <td>0</td>
                                <td>{{ time.Manhours }}</td>
                                <td>{{ time.Overtime }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="z-depth-1 bordered responsive-table striped highlight centered perf-table month-perf-table" style="display:none">
                        <thead>
                        <tr>
                            <th data-field="Date">Month</th>
                            <th data-field="Absences">Absences</th>
                            <th data-field="Lates">Lates</th>
                            <th data-field="Overtimes">Overtimes</th>
                            <th data-field="Out of IP">Out of IP</th>
                        </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jan</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Feb</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Mar</td>
                                    <td>8</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>Apr</td>
                                    <td>8</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>May</td>
                                    <td>8</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>Jun</td>
                                    <td>8</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>9</td>
                                </tr>
                            <tr>
                                <td>Jul</td>
                                <td>8</td>
                                <td>8</td>
                                <td>9</td>
                                <td>9</td>
                            </tr>
                        <tr>
                            <td>Aug</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        </tbody>
                    </table>
                    {#<ul class="pagination">#}
                        {#<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>#}
                        {#<li class="active"><a href="#!">1</a></li>#}
                        {#<li class="waves-effect"><a href="#!">2</a></li>#}
                        {#<li class="waves-effect"><a href="#!">3</a></li>#}
                        {#<li class="waves-effect"><a href="#!">4</a></li>#}
                        {#<li class="waves-effect"><a href="#!">5</a></li>#}
                        {#<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>#}
                    {#</ul>#}

                </div>
                <br><br>
            </div>
        </div>

    </div>

{% endblock %}

{% block modal %}
<!---------------CHANGE PASS MODAL------------------>
<div id="modal-changepw" class="modal modal-fixed-footer overflow-hidden">
    <form action="{{ path('change_pass') }}" id = "changepass" method="post">
        <h4 class="mo-header">Change Password</h4>
        <div class="modal-content">
            <div class="mo-body">
                <div class="chip" id="formchangedalert" style="display:none;">
                    <strong>Password Changed!</strong>
                </div>
                <input id="oldpw" name = "inputpassword" type="password" placeholder="Enter old password...">
                <input id="newpw" name = "password" type="password" placeholder="Enter new password...">
                <input id="confirmpw" name = "conpassword" type="password" placeholder="Confirm your password...">
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-light grey custombtn btn-flat close-modal-agenda">Close</a>
            <button type="submit" href="#!" class=" modal-action waves-effect waves-light orange custombtn btn-flat btn-changepw" style="margin-right:5px;">Change</button>
        </div>
    </form>
</div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function(){
            var profileId, telId, mobileId;
            var addresscontainer  = $("#addr").html();
            var telcontainer  = $("#tel-p").val();
            var celcontainer  = $("#cel-p").val();
            $('.btn-edit-profile').click(function(e){
                e.preventDefault();
                mobileId = $('#cel-p').data('cell');
                profileId = $('#addr').data('add');
                telId = $('#tel-p').data('tel');
                $('.profile-container2 input').attr("disabled", false);
                $('.edit-pdata').css({'display' : 'inline-block'});
                $('.btn-save-profile').css({'display' : 'inline-block'});
                $('.btn-cancel-profile').css({'display' : 'inline-block'});
                $('.btn-edit-profile').css({'display' : 'none'});
            });

            $(".edit-pdata").click(function(e) {
                e.preventDefault();
                $(this).parent('.p-dta').find('input').val('').focus();
                // $(this).parent('.collection-item').find('.btn-edit').css({'display':'none'})
            });

            $('.addr-pdata').click(function(e){
                e.preventDefault();
                $('#addr').html('');
            });


            $('.btn-save-profile').click(function(e){
                e.preventDefault();
                $validate = false;
                $('.btn-edit-profile').css({'display' : 'none'});

                if( !$("#addrinput").val() == '' || !$('#addr').html() == '') {
                    $validate = true;
                    $("#addr").closest('.p-dta').find('.btn-edit').css({'display' : 'block'});
                    $("#addr").closest('.p-dta').find('.required-field').css({'display' : 'none'})
                } else {
                    $("#addrinput").closest('.p-dta').find('input[type=text]').css({'border-bottom-color' : '#f44336'});
                    $("#addr").closest('.p-dta').find('.btn-edit').css({'display':'none'});
                    $("#addrinput").closest('.p-dta').find('input').val('').focus();
                    return;
                }

                if( !$("#cel-p").val() == '') {
                    $validate = true;
                    $("#cel-p").closest('.p-dta').find('.btn-edit').css({'display' : 'block'});
                    $("#cel-p").closest('.p-dta').find('.required-field').css({'display' : 'none'});

                } else {
                    $("#cel-p").closest('.p-dta').find('input[type=text]').css({'border-bottom-color' : '#f44336'});
                    $("#cel-p").closest('.p-dta').find('.btn-edit').css({'display':'none'});
                    $("#cel-p").closest('.p-dta').find('input').val('').focus();
                    return;

                }

                if( !$("#tel-p").val() == '') {
                    $validate = true;
                    $("#tel-p").closest('.p-dta').find('.btn-edit').css({'display' : 'block'});
                    $("#tel-p").closest('.p-dta').find('.required-field').css({'display' : 'none'})
                } else {
                    $("#tel-p").closest('.p-dta').find('input[type=text]').css({'border-bottom-color' : '#f44336'});
                    $("#tel-p").closest('.p-dta').find('.btn-edit').css({'display':'none'});
                    $("#tel-p").closest('.p-dta').find('input').val('').focus();
                    return;
                }

                var telephoneinput, cellphoneinput, addressinput

                if(!$("#cel-p").val() == '' && $validate == true && !$("#tel-p").val() == '') {
                    addressinput    = $("#addrinput").val();
                    if(addressinput == ''){
                        addressinput = $('#addr').html();
                    }
                    telephoneinput  = $("#tel-p").val();
                    cellphoneinput  = $("#cel-p").val();
                    $('.loader-notif').show();
                    $('.loader-notif').css({'top' : '0px'});
                    $.post("{{ path('update_profile') }}", {address:addressinput, telephone:telephoneinput, cellphone:cellphoneinput,
                        telId:telId, mobileId:mobileId}, function(data){
                    }).always(function(data){
                        console.log(data);
                        $('.loader-notif').hide();
                        $('.loader-notif').css({'top' : '-55px'});
                    });
                    $('.btn-save-profile').css({'display' : 'none'});
                    $('.btn-cancel-profile').css({'display' : 'none'});
                    $('.edit-pdata').css({'display' : 'none'});
                    $('.btn-edit-profile').css({'display' : 'inline-block'});
                    $('.emp-info input').attr("disabled", true);
                    $('.update-profile-notif').css({'top' : '0px'});
                    setTimeout(function(){
                        $('.update-profile-notif').css({'top' : '-55px'});
                    }, 5000);
                    telcontainer  = $("#tel-p").val();
                    celcontainer  = $("#cel-p").val();
                    addresscontainer = $("#addrinput").val();
                    console.log('update success');
                } else {
                    e.preventDefault();
                }
                $('.profile-container2 input').attr("disabled", true);
            });

            $('.btn-cancel-profile').click(function(e){
                e.preventDefault();
                $("#addr").html(addresscontainer);
                $("#addrinput").val('');
                $("#tel-p").val(telcontainer);
                $("#cel-p").val(celcontainer);
                $('.profile-container2 input').attr("disabled", true);
                $('.edit-pdata').css({'display' : 'none'});
                $('.btn-save-profile').css({'display' : 'none'});
                $('.btn-cancel-profile').css({'display' : 'none'});
                $('.btn-edit-profile').css({'display' : 'inline-block'});
            });

            $('.initialized').material_select();

            $('#changepass').on('submit', function() {
                $('#formchangedalert').hide();
                var oldpass = $('#oldpw').val();
                var newpass = $('#newpw').val();
                var conpass = $('#confirmpw').val();
                var error = false;
                if(oldpass == '' || newpass == '' || conpass == '' ){
                    error = true;
                    $('#formchangedalert').text('All fields required');
                    $('#formchangedalert').show();
                    $('.changepass-container').show();
                }
                else if(newpass != conpass){
                    error = true;
                    $('#formchangedalert').text('Password does not match');
                    $('#formchangedalert').show();
                }
                if(error) {
                    return false;
                }

                var data = {oldpass:oldpass, newpass:newpass};
                console.log(data);
                $('.loader-notif').show();
                $('.loader-notif').css({'top' : '0px'});
                var jqxhr = $.post( "{{ path('change_pass') }}", data, function(data) {
                    console.log(data);
                }).done(function(data) {
                    var data = eval('('+ data +')');
                    if(data.error == true){

                    }else{
                        console.log(data);
                        $('#oldpw').val('');
                        $('#newpw').val('');
                        $('#confirmpw').val('');
                        $('.changepass-notif').css({'top' : '0px'});
                        $('#modal-changepw').css({'display' : 'none'});
                        $('.lean-overlay').css({'display' : 'none'});
                        setTimeout(function(){
                            $('.changepass-notif').css({'top' : '-55px'});
                        }, 3000);
                    }
                    $('#formchangedalert').text(data.response);
                    $('#formchangedalert').show();
                    console.log(data.response);
                }).fail(function(data) {
                    console.log(data);
                }).always(function(data) {
                    console.log(data);
                    $('.loader-notif').hide();
                    $('.loader-notif').css({'top' : '-55px'});
                });
                return false;
            });
            $('.modal-change').click(function(){
                alert
                $('#modal-changepw').css({'display' : 'block'});
                $('.lean-overlay').css({'display' : 'block'});
                $('#formchangedalert').hide();
            });

            $('.emptable').change(function(){
                var emptablevalue = $('#emptable').val();
                if(emptablevalue == 1){
                    $('.time-logs-table').show();
                    $('.month-perf-table').hide();
                }else{
                    $('.time-logs-table').hide();
                    $('.month-perf-table').show();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            var row1 = $(this).attr("data-timein");

        });
        function computeTime(){
            //time out
            var row = $('.time-logs-table').find('tbody').find('tr.active');

        }
        computeTime();
    </script>
{% endblock %}


