{% extends 'AdminBundle::base.html.twig' %}
{% block title %}
    <title>Propelrr Log-in System| Manage Employees</title>
{% endblock %}

{% block body %}
    <section id="main-container">
        <section id="main-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-content">
                        <div class="col-md-12 light-blue darken-1 heading z-depth-1">
                            <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>
                            <div class="top-nav">
                                <h3>Employee List</h3>
                                {{ include ('AdminBundle:Employee:manageemployees.html.twig') }}
                            </div>
                        </div>
                        <div class="col-md-12 content manageemployees-content" style="display: block;">
                            <div class="row" style="margin-left:5px;">
                                <table class="bordered highlight emp-list">
                                    <thead>
                                    <tr>
                                        <th>Employee Number</th>
                                        <th>Name</th>
                                        <th>Department</th>
                                        <th>Position</th>
                                        <th>Status</th>
                                        {% if user.role == 'ADMIN' %}
                                        <th>Capability</th>
                                        {% endif %}
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for emp in getEmployee %}
                                        <tr class="empProfile" data-empid="{{ emp.getEmpAccAccId }}" data-userid = "{{ user.id }}">
                                            <td class = "number">{{emp.getEmployeeNumber}}</td>
                                            <td class = "name">{{ emp.EmpAcc.getEmpProfiles[0].fname ~ ' ' ~ emp.EmpAcc.getEmpProfiles[0].lname }}</td>
                                            <td class = "dept">{{emp.getListDept().DeptNames}}</td>
                                            <td class = "pos">{{emp.getListPos().PosNames}}</td>
                                            <td class = "status">{{ emp.getEmpStatusType().name }}</td>
                                            {% if user.role == 'ADMIN' %}
                                                <td class = "capabilities">
                                                    {% for cap in emp.EmpAcc.getEmpCapabilitiessJoinCapabilitiesList %}
                                                    {{ cap.getCapabilitiesList().Capability }}<br>
                                                    {% endfor %}
                                                </td>
                                            {% endif %}

                                            <td>
                                                {% if user.role == 'ADMIN' %}
                                                <button  class="waves-effect waves-light btn green view-profile-btn" data-empid="{{emp.getEmpAccAccId}}">View</button>
                                                {% endif %}

                                                {% for cap in capabilities %}
                                                    {% if cap.Capid == 1  %}
                                                        <button class="waves-effect waves-light btn orange btnEditEmployee"
                                                                data-id=""
                                                                data-fname="{{emp.EmpAcc.getEmpProfiles[0].fname}}"
                                                                data-lname="{{ emp.EmpAcc.getEmpProfiles[0].lname}}"
                                                                data-empnum="{{ emp.getEmployeeNumber }}"
                                                                data-department="{{emp.getListDept().id}}"
                                                                data-position="{{emp.getListPos().id}}"
                                                                data-status="{{ emp.getEmpStatusType().name }}"
                                                                data-email="{{ emp.EmpAcc.getEmail }}"
                                                                data-address="{{ emp.address }}"
                                                                data-bday="{{emp.bday | date('Y-m-d')}}"
                                                                data-capabilities="{{ emp.EmpAcc.getEmpCapabilitiessJoinCapabilitiesList }}"
                                                                data-sss = "{{ emp.sss }}"
                                                                data-bir = "{{ emp.bir }}"
                                                                data-philhealth = "{{ emp.philhealth }}"
                                                                {% for contact in getContact if contact.empProfileId == emp.id and contact.listContTypesId == 2 %}
                                                                    data-cellphone="{{ contact.contact }}"
                                                                    data-cellphoneid="{{ contact.id }}"
                                                                {% endfor %}
                                                                {% for contact in getContact if contact.empProfileId == emp.id and contact.listContTypesId == 3 %}
                                                                    data-telephone="{{ contact.contact }}"
                                                                    data-telphoneid="{{ contact.id }}"
                                                                {% endfor %}
                                                                data-empid="{{ emp.empAccAccId }}">Edit
                                                        </button>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!">2</a></li>
                                <li class="waves-effect"><a href="#!">3</a></li>
                                <li class="waves-effect"><a href="#!">4</a></li>
                                <li class="waves-effect"><a href="#!">5</a></li>
                                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
                        <a class="btn-floating btn-large red">
                            <i class="material-icons">add</i>
                        </a>

                        <ul class="add">
                            {% for cap in capabilities %}
                                {% if cap.Capid == 1 %}
                                    <li><a class="modal-trigger modal-emp waves-effect waves-light orange btn-floating btn-emp" href="#modal-emp">employee</a></li>
                                {% endif %}
                                {% if cap.capid == 2 %}
                                    <li><a class="modal-trigger modal-dept waves-effect waves-light orange btn-floating btn-dept" href="#modal-dept">department</a></li>
                                {% endif %}
                                {% if cap.capid == 3 %}
                                    <li><a class="modal-trigger modal-pos waves-effect waves-light orange btn-floating btn-pos" href="#modal-pos">position</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!----------------------- EDIT EMPLOYEE MODAL -------------------------->
    <div id="modal-emp" class="modal modal-fixed-footer" style="height: 1500px;">
        <div class="modal-content add-employee-modal" >
            <h4>Employee</h4>
            <input type="hidden" name="employee-id"/>
            <div class="row">
                {% if user.role == 'ADMIN' %}
                <div class="col-md-7 col-lg-8">
                    {% else %}
                    <div class="col-md-12 col-lg-12">
                        {% endif %}
                        <p>Username<input name = "username" placeholder="type here..." id="username" type="text" class="input-field"></p>
                        <p>Password<input name = "password" placeholder="type here..." id="password" type="password" class="input-field"></p>
                        <p>Re-type Password<input name = "repassword" placeholder="type here..." id="confirmpassword" type="password" class="input-field"></p>
                        <br>
                        <p>Employee #<input name = "empnum" placeholder="type here..." id="empnum" type="text" class="input-field"></p>
                        <p>First Name<input name = "fname" placeholder="type here..." id="fname" type="text" class="input-field"></p>
                        <p>Last Name<input name = "lname" placeholder="type here..." id="lname" type="text" class="input-field"/></p>
                        <p>Department</p>

                        <div class="select-wrapper"><span class="caret">?</span>
                            <select name="dept" id="dept" class="initialized emp-dept">
                                <option value="" disabled selected>Select department</option>
                                {% for dept in getDept %}
                                    <option value="{{dept.Id}}" data-id="{{dept.Id}}" class="deptid">{{dept.DeptNames}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <p>Position</p>

                        <div class="select-wrapper"><span class="caret">?</span>
                            <select name="pos"id="pos" class="initialized emp-positions">
                                <option value="" disabled selected>Select position</option>
                                {% for pos in getPos %}
                                    <option value="{{pos.Id}}">{{pos.PosNames}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <p>Employment Status</p>

                        <div class="select-wrapper"><span class="caret">?</span>
                            <select name="status"id="status" class="initialized emp-status">
                                <option value="" disabled selected>Select status</option>
                                {% for status in allstatus %}
                                    <option value="{{status.Id}}">{{status.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <p>Company Email<input name="email" placeholder="type here..." id="companyemail" type="text" class="input-field"></p>
                        <p>Telephone #<input name="telnum" placeholder="type here..." id="telnum" type="text" class="input-field"></p>
                        <p>Cellphone #<input name="cellnum" placeholder="type here..." id="celnum" type="text" class="input-field"></p>
                        <p>Address<input name="address" placeholder="type here..." id="address" type="text" class="input-field"></p>
                        <p>Birthday<input name="bday" readonly placeholder="input here..." class="bday" id="datepicker"></p>
                        <p>SSS<input name="sss" placeholder="type here..." id="sss" type="text" class="input-field"></p>
                        <p>BIR<input name="bir" placeholder="type here..." id="bir" type="text" class="input-field"></p>
                        <p>PhilHealth<input name="philhealth" placeholder="type here..." id="philhealth" type="text" class="input-field"></p>
                    </div>
                    {% if user.role == 'ADMIN' %}
                        <div class="col-md-5 col-lg-4 div-capabilities-area">
                            <big>User Capabilities</big>

                            {% for allcap in allcapabilities %}
                                <p>
                                    <input type="checkbox" class="filled-in {{ allcap.id }}" id="filled-in-box-1" value="1" />
                                    <label for="filled-in-box-1" class="black-text">{{ allcap.capability }}</label>
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="modal-footer">
                <div class="chip missing-input" style="display: none;">
                    REQUIRED FIELD!
                </div>
                <div class="chip password-not-match" style="display: none;">
                    Password does not match
                </div>
                <div class="chip username-used" style="display: none;">
                    Username already used
                </div>

                <a href="#!" class="modal-action modal-close waves-effect waves-light grey custombtn btn-flat ">Cancel</a>

                <button type="submit" href="#!" class="waves-effect waves-light orange custombtn btn-flat addemp" style="margin-right:5px;">Add</button>
            </div>
        </div>
    </div>
    <!----------------------------- END -------------------------------->

    <!----------------------- ADD POSITION MODAL -------------------------->
    <div id="modal-pos-dept" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 id = "position_hdr">Position</h4>
            <h4 id = "department_hdr">Department</h4>
            <input id="input-pos-dept" type="text">
        </div>

        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-light grey custombtn btn-flat ">Cancel</a>
            <a class="waves-effect waves-light orange custombtn btn-flat" id = "add-pos" style="margin-right: 5px;">Add</a>
            <a class="waves-effect waves-light orange custombtn btn-flat" id = "add-dept" style="margin-right: 5px;">Add</a>
        </div>
    </div>
    <!----------------------------- END -------------------------------->

    <!----------------------- EXPORT MODAL -------------------------->
    <div id="exportchoice" class="modal">
        <div class="modal-content">
            <h4>Export</h4>

            <p>Choose entity: </p>
            <div class="radiobtn" style="margin-bottom: 20px;">
                <input name="group1" type="radio" id="select-all" class="export-radio-input" data-type="all" checked/>
                <label for="select-all" class="lbl-info radio-lbl">All Employees</label>

                <input name="group1" type="radio" id="select-dept" class="export-radio-input" data-type="dept"/>
                <label for="select-dept" class="lbl-info radio-lbl">Select by Department</label>
            </div>

            <div class = "dept-container">
                <select id = "listdept" class="browser-default departmentselect" style="width: 230px; background: none; border: none; border-bottom: 1px solid #e0e2e5;">
                    <option value="" disabled selected>Choose your department</option>
                    {% for dept in getDept %}
                        <option value="{{ dept.Id }}">{{dept.DeptNames}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-light grey btn-flat" id = "export-cancel" style="color:white;">Cancel</button>
                <button class="modal-action waves-effect waves-light orange btn-flat" id = "export-submit" style="color:white; margin-right:5px;">Export</button>
            </div>
        </div>
    </div>
    <!----------------------------- END -------------------------------->
{% endblock %}

{% block customjs %}
    <script type = "text/javascript">
        // Action Buttons
        var deptExportContainer = $('.dept-container');

        // Modals
        var exportModal = $('#exportchoice');

        // Forms
        var deptListExportOption = $('.departmentselect');

        $(document).on("click", "#btn-export-modal", function () {
            deptExportContainer.hide();
            exportModal.openModal();
        });

        $(document).on("click", "#export-cancel", function () {
            exportModal.closeModal();
        });

        $(document).on("click", "#select-dept", function () {
            deptExportContainer.show();
        });

        $(document).on("click", "#select-all", function () {
            deptExportContainer.hide();
        });

        $(document).on("click", "#export-submit", function () {
            var deptid = $('#listdept').val();

            if ($('#select-dept:checked').length){
                if(deptid == null){
                    deptListExportOption.css({'color' : 'red'});
                    setTimeout(function(){
                        deptListExportOption.css({'color' : 'black'});
                    }, 500);
                    return;
                }
            }
            exportModal.closeModal();
            window.open("{{ path('admin_employee_list_report') }}?deptid=" + deptid, '_blank');
        });
    </script>
{% endblock %}
