{% extends 'AdminBundle::base.html.twig' %}
{% block title %}
    <title>Propelrr Log-in System| Profile</title>
{% endblock %}
{% block body %}
    <div class="page-content">
        <div class="col-md-12 light-blue darken-1 heading z-depth-1">
            <div class="responsive-nav"><a class="btn-flat"><i class="material-icons res-menu">reorder</i></a></div>

            <div class="emp-photo">
                <div class="profile-image center-align">


                    <span>{{ propelrr.fname|slice(0,1)|upper }}</span>
                </div>
            </div>
            {#<div class="top-nav"><a class="waves-effect waves-light btn modal-trigger modal-change orange" href="#modal-changepw">Change Password</a></div>#}
            <div class="top-nav"><h3>{{ propelrr.fname }} {{ propelrr.lname }}</h3><a class="waves-effect waves-light btn modal-trigger modal-change orange changepwmodal" href="#modal-changepw">Change Password</a></div>
        </div>
        <div class="col-md-12 content" style="background-color: #e7e7e7;">

            <div class="emp-info-wrap">
                <div class="container">
                    <div class="z-depth-1 profile-container2">

                        <div class="emp-photo hidden-desktop">
                            <div class="profile-image center-align">
                                <span>{{ propelrr.fname|slice(0,1)|upper }}</span>
                            </div>
                        </div>

                        <div class="row editable-info">
                            <div class="col-lg-4 col-md-6">
                                <div class="empinfo-left">
                                    <p><span class="p-lbl"><i class="fa fa-hashtag" aria-hidden="true"></i></span><span class="p-dta"></i>{{ propelrr.employeeNumber }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-briefcase" aria-hidden="true"></i></span><span class="p-dta">{{ propelrr.getListPos().PosNames }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-users" aria-hidden="true"></i></span><span class="p-dta">{{ propelrr.getListDept().DeptNames }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="p-dta">{{ user2.email }}</span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="empinfo-middle empinfo-left">
                                    <p>
                                        <span class="p-lbl"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="p-dta">{#<input disabled value="{{ propelrr.address }}" data-add="{{ profileId }}" type="text" id="addr" class="editable"><i class="material-icons edit-pdata">mode_edit</i>#}
                                            <input type="text" id="addrinput" class="editable" style="position: absolute;" disabled/>
                                            <span id="addr" >{{ propelrr.address }}</span><i class="material-icons edit-pdata addr-pdata">mode_edit</i>
                                        </span>
                                    </p>
                                    <p><span class="p-lbl"><i class="fa fa-calendar" aria-hidden="true"></i></span><span class="p-dta">{{ propelrr.bday | date('M d Y') }}</span></p>
                                    <p><span class="p-lbl"><i class="fa fa-mobile" aria-hidden="true"></i></span><span class="p-dta">
                                            <input disabled value="{{ conMobile }}" data-cell="{{ conMobileId }}" type="text" id="cel-p" class="editable"><i class="material-icons edit-pdata">mode_edit</i></span></p>
                                    <p><span class="p-lbl"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="p-dta"><input disabled value="{{ conTele }}" data-tel="{{ conTeleId }}" type="text" id="tel-p" class="editable"><i class="material-icons edit-pdata">mode_edit</i></span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="empinfo-right">
                                    <p><span class="p-lbl">SSS</span>{{ propelrr.sss }}<span class="p-dta"></span></p>
                                    <p><span class="p-lbl">BIR</span>{{ propelrr.bir }}<span class="p-dta"></span></p>
                                    <p><span class="p-lbl">Philhealth</span>{{ propelrr.philhealth }}<span class="p-dta"></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="editprofile-btns">
                            {#<a class="waves-effect waves-light btn orange btn-change-photo">Upload Photo</a>#}
                            <a class="waves-effect waves-light btn orange btn-edit-profile">Edit</a>
                            <a class="waves-effect waves-light btn orange btn-save-profile">Save</a>
                            <a class="waves-effect waves-light btn orange btn-cancel-profile">Cancel</a>
                        </div>

                        <div class="changepw-con"><a class="waves-effect waves-light btn modal-trigger modal-change orange" href="#modal-changepw">Change Password</a></div>
                    </div>

                    {#<div id="perf-chart" class="z-depth-1 demo-placeholder" style="width:100%;height:400px;"></div>#}

                    {#<div class="input-field col s12 emp-tables">#}
                        {#<select class="emptable" id="emptable">#}
                            {#<option value="1"> Daily Time Logs</option>#}
                            {#<option value="2"> Monthly Performance Chart</option>#}
                        {#</select>#}
                    {#</div>#}
                    <div id="a"></div>
                    <table class="z-depth-1 bordered responsive-table striped highlight centered perf-table time-logs-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>Total Hour</th>
                                <th>Overtime</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for time in getAllTime %}

                            <tr {% if( time.TimeOut is empty) %} class="active" data-time-in="{{ time.TimeIn | date('m/d/Y h:i A')  }}" {% endif %}>
                                <td>{{ time.Date | date('M d Y')}}</td>
                                <td>{{ time.TimeIn is empty ? "" : time.TimeIn | date('h:i A')}}</td>
                                <td>{{ time.TimeOut is empty ? "" : time.TimeOut | date('h:i A')}}</td>
                                <td {% if( time.TimeOut is empty) %}id="duration-time"{% endif %}>{% if time.TimeIn is not empty and time.TimeOut is not empty %}{{ Util.computeHours(time.TimeIn|date('Y-m-d H:i:s'), time.TimeOut|date('Y-m-d H:i:s'), time.Date|date('D'), 'total_hours') }}{% else %}0{% endif %}</td>
                                <td>{% if time.TimeIn is not empty and time.TimeOut is not empty %}{{ Util.computeHours(time.TimeIn|date('Y-m-d H:i:s'), time.TimeOut|date('Y-m-d H:i:s'), time.Date|date('D'), 'overtime') }}{% else %}0{% endif %}</td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="z-depth-1 bordered responsive-table striped highlight centered perf-table month-perf-table" style="display:none">
                        <thead>
                        <tr>
                            <th data-field="Date">Month</th>
                            <th data-field="Absences">Absences</th>
                            <th data-field="Lates">Lates</th>
                            <th data-field="Overtimes">Overtimes</th>
                            <th data-field="Out of IP">Out of IP</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr>
                            <td>Jan</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>5</td>
                            <td>6</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Jun</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>8</td>
                            <td>8</td>
                            <td>9</td>
                            <td>9</td>
                        </tr>
                        </tbody>
                    </table>
                    {#<ul class="pagination">#}
                        {#<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>#}
                        {#<li class="active"><a href="#!">1</a></li>#}
                        {#<li class="waves-effect"><a href="#!">2</a></li>#}
                        {#<li class="waves-effect"><a href="#!">3</a></li>#}
                        {#<li class="waves-effect"><a href="#!">4</a></li>#}
                        {#<li class="waves-effect"><a href="#!">5</a></li>#}
                        {#<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>#}
                    {#</ul>#}
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}
    <!---------------CHANGE PASS MODAL------------------>
    <div id="modal-changepw" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="mo-header">Change Password</h4>

            <div class="mo-body">
                <input id="oldpw" name = "inputpassword" type="password" placeholder="Enter old password...">
                <input id="newpw" name = "password" type="password" placeholder="Enter new password...">
                <input id="confirmpw" name = "conpassword" type="password" placeholder="Confirm your password...">
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-light grey custombtn btn-flat close-modal-agenda">Close</a>
            <button class="waves-effect waves-light orange custombtn btn-flat btn-changepw" style="margin-right:5px;">Change</button>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        // VARIABLES


        $(document).ready(function(){
            var profileId, telId, mobileId;
            var addresscontainer  = $("#addr").html();
            var telcontainer  = $("#tel-p").val();
            var celcontainer  = $("#cel-p").val();

            $('.btn-edit-profile').click(function(e){
                e.preventDefault();
                mobileId = $('#cel-p').data('cell');
                profileId = $('#addr').data('add');
                telId = $('#tel-p').data('tel');
                $('.profile-container2 input').attr("disabled", false);
                $('.edit-pdata').css({'display' : 'inline-block'});
                $('.btn-save-profile').css({'display' : 'inline-block'});
                $('.btn-cancel-profile').css({'display' : 'inline-block'});
                $('.btn-edit-profile').css({'display' : 'none'});
            });

            $(".edit-pdata").click(function(e) {
                e.preventDefault();
                $(this).parent('.p-dta').find('input').val('').focus();
                // $(this).parent('.collection-item').find('.btn-edit').css({'display':'none'})
            });

            $('.addr-pdata').click(function(e){
                e.preventDefault();
                $('#addr').html('');
            });


            $('.btn-save-profile').click(function(e){
                e.preventDefault();
                $validate = false;
                $('.btn-edit-profile').css({'display' : 'none'});

                if( !$("#addrinput").val() == '' || !$('#addr').html() == '') {
                    $validate = true;
                    $("#addr").closest('.p-dta').find('.btn-edit').css({'display' : 'block'});
                    $("#addr").closest('.p-dta').find('.required-field').css({'display' : 'none'})
                } else {
                    $("#addrinput").closest('.p-dta').find('input[type=text]').css({'border-bottom-color' : '#f44336'});
                    $("#addr").closest('.p-dta').find('.btn-edit').css({'display':'none'});
                    $("#addrinput").closest('.p-dta').find('input').val('').focus();
                    return;
                }

                if( !$("#cel-p").val() == '') {
                    $validate = true;
                    $("#cel-p").closest('.p-dta').find('.btn-edit').css({'display' : 'block'});
                    $("#cel-p").closest('.p-dta').find('.required-field').css({'display' : 'none'});

                } else {
                    $("#cel-p").closest('.p-dta').find('input[type=text]').css({'border-bottom-color' : '#f44336'});
                    $("#cel-p").closest('.p-dta').find('.btn-edit').css({'display':'none'});
                    $("#cel-p").closest('.p-dta').find('input').val('').focus();
                    return;

                }

                if( !$("#tel-p").val() == '') {
                    $validate = true;
                    $("#tel-p").closest('.p-dta').find('.btn-edit').css({'display' : 'block'});
                    $("#tel-p").closest('.p-dta').find('.required-field').css({'display' : 'none'})
                } else {
                    $("#tel-p").closest('.p-dta').find('input[type=text]').css({'border-bottom-color' : '#f44336'});
                    $("#tel-p").closest('.p-dta').find('.btn-edit').css({'display':'none'});
                    $("#tel-p").closest('.p-dta').find('input').val('').focus();
                    return;
                }

                var telephoneinput, cellphoneinput, addressinput

                if(!$("#cel-p").val() == '' && $validate == true && !$("#tel-p").val() == '') {
                    addressinput    = $("#addrinput").val();
                    if(addressinput == ''){
                        addressinput = $('#addr').html();
                    }
                    telephoneinput  = $("#tel-p").val();
                    cellphoneinput  = $("#cel-p").val();
                    showLoadingBar();
                    $.post("{{ path('update_profile') }}",
                        {
                            address:addressinput,
                            telephone:telephoneinput,
                            cellphone:cellphoneinput,
                            telId:telId,
                            mobileId:mobileId
                        }, function(data){

                    }, 'json').done(function(data){
                        if (data["result"]) {
                            showSuccessBar(data["result"]);
                        } else if (data["error"]) {
                            // error
                            showErrorBar(data["error"]);
                        }
                    }).always(function(data){
                        //
                    });
                    $('.btn-save-profile').css({'display' : 'none'});
                    $('.btn-cancel-profile').css({'display' : 'none'});
                    $('.edit-pdata').css({'display' : 'none'});
                    $('.btn-edit-profile').css({'display' : 'inline-block'});
                    $('.emp-info input').attr("disabled", true);
                    $('.update-profile-notif').css({'top' : '0px'});
                    setTimeout(function(){
                        $('.update-profile-notif').css({'top' : '-55px'});
                    }, 5000);
                    telcontainer  = $("#tel-p").val();
                    celcontainer  = $("#cel-p").val();
                    addresscontainer = $("#addrinput").val();
                } else {
                    e.preventDefault();
                }
                $('.profile-container2 input').attr("disabled", true);
            });

            $('.btn-cancel-profile').click(function(e){
                e.preventDefault();
                console.log()
                $("#addr").html(addresscontainer);
                $("#addrinput").val('');
                $("#tel-p").val(telcontainer);
                $("#cel-p").val(celcontainer);
                $('.profile-container2 input').attr("disabled", true);
                $('.edit-pdata').css({'display' : 'none'});
                $('.btn-save-profile').css({'display' : 'none'});
                $('.btn-cancel-profile').css({'display' : 'none'});
                $('.btn-edit-profile').css({'display' : 'inline-block'});
            });

            $('.initialized').material_select();

            $('.btn-changepw').on('click', function() {
                $('#formchangedalert').hide();
                var oldpass = $('#oldpw').val();
                var newpass = $('#newpw').val();
                var conpass = $('#confirmpw').val();
                var error = false;
                if(oldpass == '' || newpass == '' || conpass == '' ){
                    error = true;
                    $('#formchangedalert').text('All fields required');
                    $('#formchangedalert').show();
                    $('.changepass-container').show();
                }
                else if(newpass != conpass){
                    error = true;
                    $('#formchangedalert').text('Password does not match');
                    $('#formchangedalert').show();
                }
                if(error) {
                    return false;
                }

                var data = {
                    oldpass:oldpass,
                    newpass:newpass
                };

                showLoadingBar();
                $.post(
                    "{{ path('change_pass') }}",
                    data,
                    function(data) {
                        $('#oldpw').val('');
                        $('#newpw').val('');
                        $('#confirmpw').val('');
                    }, 'json').done(function(data) {
                        console.log(data);
                        if (data["result"]) {
                            showSuccessBar(data["result"]);
                        } else if (data["error"]) {
                            showErrorBar(data["error"]);
                        }
                    }).always(function(data) {
                        //
                        $('#modal-changepw').closeModal();
                    });
            });


            $('.modal-change').click(function(){
                $('#modal-changepw').openModal();
            });

            $('.emptable').change(function(){
                var emptablevalue = $('#emptable').val();
                if(emptablevalue == 1){
                    $('.time-logs-table').show();
                    $('.month-perf-table').hide();
                }else{
                    $('.time-logs-table').hide();
                    $('.month-perf-table').show();
                }
            });

            /**
             * Created by admin on 1/19/2017.
             */
            function computeTime(){
                //time out
                var getTimeIn = $('.time-logs-table').find('tbody').find('tr').data('time-in');
                var d = new Date(getTimeIn);
                var past_hour = d.getHours();
                var past_minutes = d.getMinutes();

//                    var duration = past_hour + ':' + past_minutes;

                //Date Today
                var date = new Date();
                var present_hour = date.getHours();
                var present_minute = date.getMinutes();

                //compute for duration

                var duration_hours = present_hour - past_hour;
                var duration_min =  present_minute - past_minutes;
                var num_of_hours = 'hr';
                if(duration_hours > 1)
                {
                    num_of_hours = 'hrs';
                    var total_duration =  duration_hours + num_of_hours + " " + duration_min + "min";
                }
                var total_duration =  duration_hours + num_of_hours + " " + duration_min + "min";
                console.log(total_duration);
                if(!total_duration)
                {
                    total_duration = 0;
                }

                $("#duration-time").html(total_duration);
            }
            computeTime();
        });
    </script>




{% endblock %}





