{% import 'AdminBundle:Templates:notification.html.twig' as notif %}
{% import 'AdminBundle:Templates:left-sidebar.html.twig' as sidenav %}
{% include 'AdminBundle::script-env.html.twig' %}
{% set userbdaynames = userbdaynames|default([]) %}

{% set CONST = 'CoreBundle\\Utilities\\Constant::' %}
{% set timeData = Twig_GetTimeData(app.user.id, app.request) %}

{% set timeinStatus, autoTimeout = 'timed-in', 0 %}
{% if timeData.lastTimein is not null and timeData.lastTimein.Status!=-1 %}
    {% if timeData.lastTimein.Date|date('Y-m-d')!='now'|date('Y-m-d') and timeData.lastTimein.TimeOut is not null %}
        {% if timeData.lastTimein.TimeOut|date('h:i:s a')!='12:00:00 am' %}
            {% if timeData.ip in timeData.ips %}
                {% set timeinStatus = 'not-timein-allow-ip' %}
            {% else %}
                {% set timeinStatus = 'not-timein-deny-ip' %}
            {% endif %}
        {% else %}
            {% set autoTimeout = 1 %}
            {% if timeData.ip in timeData.ips %}
                {% set timeinStatus = 'not-timein-allow-ip' %}
            {% else %}
                {% set timeinStatus = 'not-timein-deny-ip' %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if timeData.lastTimein.TimeOut is null %}
            {% set timeinStatus = 'timed-in' %}
        {% else %}
            {% set timeinStatus = 'timed-out' %}
        {% endif %}
    {% endif %}
{% else %}
    {% if timeData.ip in timeData.ips %}
        {% set timeinStatus = 'not-timein-allow-ip' %}
    {% else %}
        {% set timeinStatus = 'not-timein-deny-ip' %}
    {% endif %}
{% endif %}

<!DOCTYPE HTML>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ block('title')|default('Dashboard') }} | Propelrr Login System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ asset('prols2/css/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('prols2/css/pikaday.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{asset('prols2/css/fullcalendar/fullcalendar.css')}}" media ="all"/>
    <link rel="stylesheet" href="{{asset('prols2/css/style.css')}}" media="all"/>
    <link rel="stylesheet" href="{{asset('prols2/css/_extend-style.css')}}" media="all"/>
    <link rel="stylesheet" href="{{ asset('prols2/css/font-awesome/css/font-awesome.min.css') }}" media="all"/>
    <link rel="stylesheet" href="{{ asset('css/event-style.css') }}" media="all"/>
    <link rel="stylesheet" href="{{ asset('js/plugins/jquery-ui-1.12.1/jquery-ui.min.css') }}" media="all"/>
    <link rel="stylesheet" href="{{ asset('assets/plugins/wickedpicker/dist/wickedpicker.min.css') }}" media="all"/>
    {#<link rel="stylesheet" href="{{ asset('css/wickedpicker.css') }}" media="all"/>#}

    <style>
        label.black {
            color: #555 !important;
        }
        .select-emp-tag{
            width: 500px;
        }
    </style>
    <style>
        #btn-reqleave {
            height: auto;
            width: auto;
            border: none;
            border-radius: 1px;
        }
        #anim-birthday-fireworks {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 111;
        }
    </style>
    {% block css %}{% endblock %}
</head>

<body>
{{ notif.notif_loader }}
{{ notif.time_in_time_out_notif }}
{{ notif.loader }}
{{ notif.login_top_loader }}
{{ notif.top_notification }}

<section id="main-container">
    <section id="main-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!-- LEFT SIDEBAR -->
                <div class="nav-right z-depth-1">
                    <div class="company-logo">
                        <img src="{{asset('prols2/img/propelrrlogo.png')}}" style="border:1px solid #e0e0e0; border-radius:50%">
                        <h4 style="font-size: 20px;">{{ Twig_GetUserInfo(app.user.id, 'name') }}</h4>
                    </div>
                    <div class="rightpanel">
                        <div class="clock"> <div class="widget-big-int plugin-clock">{{ timeData.time }}</div>
                            <div class="widget-subtitle plugin-date">{{ 'now'|date('l, F d, Y','Asia/Manila') }}</div>
                        </div>
                        <a class="waves-effect waves-light btn-flat red btn-large -btn-widget-timeout {% if timeData.lastTimein is defined and timeData.lastTimein.TimeOut is not null %}display-none{% endif %}"><i class="material-icons left">query_builder</i>Time Out</a>
                        <br>
                        <div class="chip -btn-widget-timechip {% if timeData.lastTimein is defined and timeData.lastTimein.TimeOut is not null %}display-none{% endif %}">
                            Timed-in at {{ timeData.lastTimein is defined and timeData.lastTimein.TimeIn is not null ? Twig_GetTimeinTime(timeData.lastTimein.TimeIn) : ''  }}
                        </div>
                    </div>
                    <div class="clr"></div>
                    {% block nav %}
                        {% if app.user.role=='ADMIN' %}{{ sidenav.admin_navbar() }}
                        {% else %}{{ sidenav.emp_navbar() }}{% endif %}
                    {% endblock %}
                </div>
                <!-- ./END SIDEBAR -->

                {% block body %}
                {% endblock %}
            </div>
        </div>
        {{  include ('AdminBundle:Templates:modal.html.twig') }}
    </section>
</section>

{% block modal %}
{% endblock %}

<script src="{{asset('prols2/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins/bootstrap/bootstrap.min.js')}}"></script>
<script src="{{asset('prols2/js/html5.js')}}"></script>
<script src="{{asset('prols2/js/modernizr-2.8.3.min.js')}}"></script>
<script src="{{asset('prols2/js/materialize.js')}}"></script>
<script src="{{asset('prols2/js/underscore.js')}}"></script>
<script src="{{asset('prols2/js/script.js')}}"></script>
<script src="{{ asset('prols2/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins/moment.min.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins/moment-timezone.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins/fullcalendar/fullcalendar.min.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/plugins.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/customscript.js')}}"></script>
<script type="text/javascript" src="{{asset('prols2/js/pikaday.js')}}"></script>
{#<script type="text/javascript" src="{{ asset('prols2/js/pikadayfunc.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('prols2/js/jquery.timepicker.js') }}"></script>#}
<script type="text/javascript" src="{{ asset('js/plugins/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/wickedpicker/dist/wickedpicker.min.js') }}"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>#}
{% block scripts %}{% endblock %}

<script type="text/javascript">
    //------------------------START APP-----------------------------------
    var URI = '{{ app.request.uri }}';
    var URI_ROUTE_ARR = URI.split('/');
    URI_ROUTE_SLUG = URI_ROUTE_ARR[4];

    APPDATA = eval('('+'{{ timeData|json_encode|escape('js') }}'+')');

    APPDATA.slug = URI_ROUTE_SLUG;
    APPDATA.ip = '{{ timeData.ip }}';
    APPDATA.uri_timein = '{{ path('admin_time_in') }}';
    APPDATA.uri_timeout = '{{ path('admin_time_out') }}';
    console.log(APPDATA);

    MAIN_APP.start(APPDATA);
</script>

{% block customjs %}{% endblock %}

</body>
</html>
